input[type=checkbox]
  display: none
  + label
    position: relative
    display: inline-flex
    margin-bottom: 0
    font-size: 12px
    color: #4c4c4c
    font-family: $default-font
    line-height: 1
    cursor: pointer
    user-select: none
    span
      display: flex
      align-items: center
  &:not(checked)
    + label
      &:before,
      &:after
        content: ''
        display: block
      &:before
        width: 14px
        height: 14px
        margin-right: 9px
        border: 1px solid #000
        flex-shrink: 0
      &:after
        position: absolute
        top: 7px
        left: 2px
        width: 10px
        height: 10px
        opacity: 0
        background-color: $default-checkbox-inner-color
        transform: translate3d(0, -50%, 0)
        +dt(.2s)
  &:checked
    + label
      &:after
        opacity: 1