input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=search],
input[type=password],
textarea
  &.c-error
    border-color: rgba(#e54444, 0.7)

.c-form-error-message
  font-size: 12px
  color: rgba(#e54444, 0.7)
  position: relative
  height: 0
  left: 10px
  top: -18px