input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=search],
input[type=password]
  display: inline-block
  width: 100%
  padding: 10px
  font-size: $default-input-font-size
  font-family: $default-font
  line-height: 1
  border: 1px solid $default-input-border-color
  +placeholder($default-placeholder-color)
  &.c-input-type1
    border: none
    border-bottom: 1px solid #e6e6e6
  &.c-input-type2
    padding-left: 20px
    padding-right: 20px
    color: rgba(#141414, 0.5)

.c-input-with-label
  position: relative
  input
    padding-left: 0
    padding-right: 0
  &.active
    label
      top: 0
      font-size: 11px
      opacity: 0.7
  label
    cursor: text
    color: rgba($default-color, 0.7)
    font-size: $default-input-font-size
    position: absolute
    top: 50%
    left: 0
    transform: translate3d(0, calc(-50% + 2px), 0)
    +dt(0.3s)
    &.c-error
      color: rgba(#e54444, 0.7)
  .c-form-error-message
    top: 0
    left: 0