textarea
  display: inline-block
  width: 100%
  min-height: 159px
  resize: none
  vertical-align: top
  font-size: 12px
  line-height: (20/12)
  font-family: $default-font
  padding: 24px 20px
  border: 1px solid $default-input-border-color
  +placeholder($default-placeholder-color)