*
  outline: none !important

body
  min-width: 320px
  min-height: 100vh
  position: relative
  overflow-x: hidden
  background-color: #fff
  font-family: $default-font
  font-size: $default-font-size
  color: $default-color
  opacity: 1

h1, h2, h3, h4, h5, h6
  font-weight: normal

a
  text-decoration: none
  display: inline-block
  &:hover,
  &:focus
    text-decoration: none
  &:focus
    &:hover
      text-decoration: none

img
  display: inline-block
  max-width: 100%
  max-height: 100%

svg
  max-width: 100%
  max-height: 100%

.c-wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  max-width: 1920px
  min-height: 100vh
  margin: 0 auto
  position: relative

.c-main
  flex: auto

.container
  max-width: 1200px
  width: 100%
  margin-right: auto
  margin-left: auto
  padding-left: 20px
  padding-right: 20px
  position: relative
  z-index: 2
  
  +bp($sm)
    padding-left: 20px
    padding-right: 20px

.c-unlist
  margin: 0
  padding: 0
  list-style-type: none

.c-ico
  display: inline-block
  background-repeat: no-repeat
  background-position: 50%

.hidden
  display: none