mixin agreement()
  .c-agreement
    //-+checkbox('agreement', 'Даю согласие', null, 'Даю согласие на обработку своих персональных данных', 'checked')
    //-.c-agreement-before-text Мы серьезно относимся к конфиденциальности данных. В связи со вступлением в силу нового Общего регламента ЕС по защите персональных данных (GDPR), нам требуется Ваше согласие на использование контактных данных со стороны SAP.
    .c-agreement-inner
      +checkbox('agreement', 'Даю согласие', null, '', null)
      .c-agreement-text Мы серьезно относимся к конфиденциальности данных. В связи со вступлением в силу нового Общего регламента ЕС по защите персональных данных (GDPR), нам требуется Ваше согласие на использование контактных данных со стороны SAP. Выбирая эту опцию, Вы даете свое согласие на использование Ваших контактных данных со стороны ООО «САП СНГ» (LLC SAP CIS) и ТОО «САП Казахстан» (LLP SAP Kazakhstan) в соответствии с положениями документа 
        a(href='#popup-privacy').js-popup SAP Marketing Consent Statement
        | . SAP использует предоставленные здесь данные в соответствии с 
        a(href='#popup-privacy').js-popup Положением о конфиденциальности
        | .