mixin inputWithLabel(type, name, label, value, dataValidate, className)
  .c-input-with-label
    input(type=type, name=name, value=value, data-validate=dataValidate, class=className)
    label= label