mixin nav(className, links)
  nav(class=className)
    ul.c-unlist
      each href, title in links
        li(class=className + '-item')
          a(href=href, class=className + '-item-link js-scroll')=title
