include _mixins/_mixins
include _base/_php_header
doctype html
html(lang='ru')
  head
    include _base/_meta
    block title
    include _base/_favicon
    include _base/_reboot
    include _base/_preloader
    include _base/_styles
    include _base/_google
  body
    .c-wrapper
      block header
      main.c-main
        block content
      block footer
    .hidden
      block hidden
    include _base/_scripts