extends ../_main
include ./_elements/hero
include ./_elements/demo

block title
  +title(null, null)

block header
  include _partials/_header

block content
  include ../_base/_gtmBody
  +hero()
  +demo()

block hidden
  include _hidden/_popupDefault
  include _hidden/_popupStory
  include _hidden/_popupInterface
  include _hidden/_popupClientVideo
  include _hidden/_popupPrivacy
  include _hidden/_popupGetPrice