.c-btn-default
  min-width: 288px
  background-color: $accent
  padding: 22px
  font-family: $font-bold
  +link(16px, #000)
  +dt(0.3s)
  
  +bp($md)
    min-width: 280px
  
  &:not(:disabled)
    
    &:hover
      background-color: #141414
      color: $accent
    
    &:active
      opacity: 0.85