.c-btn-callback
  min-width: 188px
  padding: 15px 17px
  border: 2px solid #fff
  //background-color: rgba(255, 255, 255, 0.102)
  +link(16px, #fff)
  font-family: $font-bold
  +dt(0.3s)
  
  +bp($sm)
    min-width: 0
    padding: 0
    border: none
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
    font-size: 15px
  
  &:hover
    background-color: rgba(255, 255, 255, 0.2)