#popup-nav.c-popup-default.c-popup-nav
  .c-popup-default-inner
    .c-popup-nav-content
      +nav('c-popup-nav', mainNav)
      a(href='#popup-default').c-btn.c-btn-callback.js-popup Заказать звонок