#popup-client-video.c-popup-default.c-popup-wide
  .c-popup-default-inner
    section.c-block-type3
      .container
        h2.c-main-title.c-main-title_dark
        .c-block-type3-content
          .c-block-type3-content-left
            .c-block-type3-slider.js-slider1
              .c-block-type3-slider-slide
                .c-block-type3-slider-slide-content
                  | <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/knLOYhr-PeE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              .c-block-type3-slider-slide
                .c-block-type3-slider-slide-content
                  | <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/799MS8sxpKA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              .c-block-type3-slider-slide
                .c-block-type3-slider-slide-content
                  | <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/8um_VhBPHGI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              //-.c-block-type3-slider-slide
              //-  .c-block-type3-slider-slide-content(style='background-image: url(img/elements/block3/bg2.jpg)')
              //-    a(href='http://www.youtube.com/watch?v=knLOYhr-PeE').c-block-type3-slider-slide-content-play.js-popup-video
              //-.c-block-type3-slider-slide
              //-  .c-block-type3-slider-slide-content(style='background-image: url(img/elements/block3/bg3.jpg)')
              //-    a(href='http://www.youtube.com/watch?v=799MS8sxpKA').c-block-type3-slider-slide-content-play.js-popup-video
              //-.c-block-type3-slider-slide
              //-  .c-block-type3-slider-slide-content(style='background-image: url(img/elements/block3/bg1.jpg)')
              //-    a(href='http://www.youtube.com/watch?v=8um_VhBPHGI').c-block-type3-slider-slide-content-play.js-popup-video
          .c-block-type3-content-right
            .c-block-type3-slider-nav.js-slider1-nav
              .c-block-type3-slider-nav-slide
                .c-block-type3-slider-nav-slide-img(style='background-image: url(img/elements/block3/bg2.jpg)')
                .c-block-type3-slider-nav-slide-title Telecom биржа
              .c-block-type3-slider-nav-slide
                .c-block-type3-slider-nav-slide-img(style='background-image: url(img/elements/block3/bg3.jpg)')
                .c-block-type3-slider-nav-slide-title Smart Network Group
              .c-block-type3-slider-nav-slide
                .c-block-type3-slider-nav-slide-img(style='background-image: url(img/elements/block3/bg1.jpg)')
                .c-block-type3-slider-nav-slide-title ADC