#popup-default.c-popup-default
  .c-popup-default-inner
    h2.c-popup-default-title Заказать обратный звонок
    form(enctype='multipart/form-data', data-form-id='3')
      .c-form-items
        .c-form-item
          +inputWithLabel('text', 'name', 'Ваше имя', null, 'true', 'c-input-type1')
        .c-form-item
          +inputWithLabel('tel', 'phone', 'Телефон', null, 'true', 'c-input-type1 js-phoneMask')
      +agreement()
      button(type='submit').c-btn.c-btn-default Отправить