#popup-privacy.c-popup-default.c-popup-privacy
  .c-popup-default-inner
    h2.c-popup-default-title Положение о конфиденциальности SAP
    |   <div class="modal-content">
    |     <div class="agreement-modal-inner">
    |     <div class="agreement-modal-item">
    |     <p>Защита конфиденциальности персональных данных в Интернете имеет первостепенное значение для
    | будущего интернет-коммерции и перехода к подлинной интернет-экономике. Настоящее Положение о
    | конфиденциальности разработано SAP, чтобы продемонстрировать твердую приверженность компании
    | принципу неприкосновенности частной жизни. В настоящем Положении о конфиденциальности кратко
    | излагаются практикуемые нашей компанией методы обращения с такой информацией, которые могут
    | использоваться для непосредственного или опосредованного установления личности («Персональные
    | данные»).</p>
    |   <p>Настоящее Положение о конфиденциальности действует в отношении www.sap.com и любых других
    | веб-сайтов, на которых содержится ссылка на настоящий документ. Применительно к www.sap.com
    | оператором персональных данных является компания SAP America Inc., 3999 West Chester Pike,
    | Newtown Square, PA 19073, USA. Применительно к другим веб-сайтам, которые содержат ссылки на
    | настоящее Положение о конфиденциальности или так или иначе его используют, оператором
    | персональных данных является структурная единица группы компаний SAP, указанная на
    | соответствующей странице с правовой информацией или рядом со знаком охраны авторского права на
    | таких веб-сайтах, если в соответствии с местным законодательством размещение правовой информации
    | не требуется. В частности, применительно к корпоративному веб-сайту группы компаний SAP
    | (www.sap.com/corporate-de/about.html и www.sap.com/corporate-en/about.html), к веб-сайтам,
    | посвященным конкретным продуктам, к сети SCN и магазину SAP Store таким оператором будет
    | компания SAP SE, Dietmar-Hopp-Allee 16, 69190 Walldorf, Germany. Далее по тексту SAP America
    | Inc., SAP SE и любое соответствующее предприятие из группы компаний SAP именуются по отдельности
    | «SAP»</p>
    |   <p>Для некоторых предприятий, предложений, программ и (или) веб-сайтов группы компаний SAP
    | используются собственные положения о конфиденциальности, которые могут отличаться от настоящего
    | документа. В этой связи мы рекомендуем изучать положения о конфиденциальности для каждого
    |   посещаемого веб-сайта, рассматриваемого предложения или изучаемой программы SAP.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">I. Основные положения о конфиденциальности</div>
    |   <p>Сформулированная в настоящем документе политика конфиденциальности нашей компании отражает
    |   существующие на данный момент общие принципы и стандарты работы с Персональными данными. В число
    |   таких принципов входят: уведомление об использовании данных, получение согласия на использование
    |   данных, предоставление последующего доступа к данным, поддержание целостности данных, защита
    |   данных, ограничения на передачу данных и соблюдение законодательства/надзор. Компания SAP
    |   выполняет требования законов о конфиденциальности в тех странах, где занимается коммерческой
    |   деятельностью.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">II. Согласие</div>
    |   <p>Используя данный веб-сайт, пользователь тем самым дает согласие на сбор и использование его
    |   Персональных данных в соответствии с настоящим документом. Если вы не согласны с приведенными в
    |   настоящем документе условиями, пожалуйста, не используйте этот веб-сайт.</p>
    |   <p>Любые изменения, вносимые в настоящее Положение о конфиденциальности, будут публиковаться на этом
    |   веб-сайте. Таким образом, пользователь всегда будет знать, какие Персональные данные собираются
    |   и как они используются. В связи с этим мы настоятельно рекомендуем периодически проверять
    |   наличие обновленной редакции настоящего Положения о конфиденциальности.</p>
    |   <p>В соответствии с требованиями действующего законодательства от пользователя может потребоваться
    |   положительным образом выраженное согласие на обработку определенных Персональных данных,
    |   собранных на этом веб-сайте или добровольно предоставленных пользователем. Обращаем внимание,
    |   что всякое согласие предоставляется исключительно на добровольной основе. В случае если
    |   пользователь не дает запрашиваемого согласия на обработку его Персональных данных или (в
    |   соответствии с положениями пункта 10 («Сохранение данных») ниже) впоследствии ставит компанию
    |   SAP в известность о том, что он не желает, чтобы SAP обрабатывала его Персональные данные в
    |   дальнейшем, (дальнейшее) пользование отдельными предложениями или сервисами (услугами) SAP может
    |   оказаться невозможным или ограниченным по составу.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">III. Сбор и обработка персональных данных</div>
    |   <p>Чтобы улучшить качество обслуживания и понять потребности и интересы своих клиентов, SAP
    |   осуществляет сбор, экспорт и использование Персональных данных с надлежащим предупреждением (как
    |   это предусмотрено в настоящем документе) и, если это требуется по закону, с согласия
    |   пользователей, а также, при необходимости, с предоставлением требуемых документов в
    |   уполномоченные органы по защите данных.</p>
    |   <p>Настоящим предупреждаем, что при посещении нашего веб-сайта может осуществляться запись
    |   IP-адресов и использование файлов cookie и других интернет-технологий (далее —
    |   «Автоматизированные средства» и «Встроенные веб-ссылки») с целью сбора информации о посетителях
    |   веб-сайта и их интересах. В зависимости от используемых Автоматизированных средств помимо
    |   IP-адреса посетителя собираются сведения об облачном идентификаторе, который был присвоен
    |   пользователю при его регистрации в SAP, о типе используемого им браузера, о веб-сайтах, которые
    |   он посетил, об объектах, на которые он перешел на том или ином веб-сайте SAP, о времени, которое
    |   он потратил при посещении того или иного веб-сайта SAP, и об иностранном портале, на который
    |   пользователь выходит с веб-сайта SAP. Более подробное описание используемых технологий и
    |   собираемых сведениях приводится ниже в пункте 5 («Автоматизированные средства»). После получения
    |   от вас согласия (если это требуется по закону) собранные с помощью Автоматизированных средств
    |   сведения могут быть добавлены компанией SAP к профилям пользователя, которые сохраняются SAP с
    |   информацией о вас. Такие дополнительные сведения включают в себя идентификатор пользователя,
    |   пользовательские настройки веб-сайта и интересующие вас продукты SAP.</p>
    |   <p>Мы можем дополнительно осуществлять сбор и обработку любых Персональных данных, предоставленных
    |   на добровольной основе, например, при регистрации для участия в мероприятиях или для получения
    |   других предложений SAP, при подписке на бюллетени, участии в онлайн-исследованиях, дискуссионных
    |   группах, форумах или интерактивном сервисе SAP для конференций либо при приобретении товаров или
    |   передаче тем или иным образом контактной информации в распоряжение компании SAP. В случае
    |   предоставления компании SAP ваших идентификационных данных в социальных сетях SAP вправе
    |   получать находящиеся в общем доступе сведения о вас.</p>
    |   <p>К таким Персональным данным в каждом отдельном случае относятся (в виде подмножества) ваши имя и
    |   фамилия, почтовый адрес и адрес электронной почты (как более подробно описано в пункте 2
    |   («Адреса электронной почты») ниже), номер телефона, регистрационные данные для входа в
    |   социальные сети, финансовые данные и банковские реквизиты, учитываемые для целей обработки
    |   заказа (как более подробно описано в пункте 3 («Приобретение товаров или регистрация на участие
    |   в мероприятиях») ниже), отдельные сведения о компании, в которой вы работаете (то есть название
    |   и почтовый адрес компании, наименование вашей должности и уровень должностного положения), а
    |   также информация, касающаяся характера связывающих вас и SAP отношений (то есть в какой редакции
    |   вами приняты установленные SAP условия использования или какой вариант получения маркетинговых
    |   материалов от SAP выбран).</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">1. Использование и цели сбора персональных данных</div>
    |   <p>Собираемые SAP сведения о потребностях и интересах пользователей позволяют обеспечить
    |   последовательный и индивидуальный подход к обслуживанию. Использование такой информации
    |   регулируется исключительно настоящим Положением о конфиденциальности и (или) условиями,
    |   указанными в момент сбора информации. Впоследствии условия использования Персональных данных
    |   пользователей могут изменяться только с их согласия в соответствии с требованиями действующего
    |   законодательства. Персональные данные пользователей используются исключительно для следующих
    |   целей:
    | 
    |   обработка заказов и доставка заказанных продуктов, услуг и данных;
    |   предоставление актуальной информации: новые объявления о товаре, обновления программного
    |   обеспечения, модернизация программного обеспечения, устранение уязвимостей в системе
    |   безопасности, улучшения системы, специальные предложения и другие сведения, касающиеся
    |   программного обеспечения и услуг SAP. В некоторых случаях к этой категории могут относиться
    |   сведения от других высокотехнологических компаний или деловых партнеров о продуктах и услугах,
    |   удачно дополняющих решения SAP. Такие информационные материалы могут предоставляться не только
    |   SAP, но и любой другой компанией из группы компаний SAP, включая во избежание сомнений все
    |   предприятия подгрупп компаний Ariba, SuccessFactors, Hybris, Sybase, Business Objects,
    |   Fieldglass, Concur, Multiposting и SeeWhy. В этой связи вы безоговорочно подтверждаете, что SAP
    |   вправе обмениваться вашими контактными данными с указанными другими предприятиями из группы
    |   компаний SAP. Кроме того, вы подтверждаете, что любая информация, требующаяся для отслеживания
    |   данных о сделанном вами выборе относительно получения маркетинговых материалов (т. е., исходя из
    |   того, в какой стране соответствующее предприятие из группы компаний SAP осуществляет
    |   деятельность, дали вы прямое согласие на получение маркетинговых материалов или отказались от их
    |   получения) может храниться и обмениваться с любой из вышеуказанных компаний;
    |   адаптация сведений о продуктах и услугах в зависимости от интересов пользователя. Например, при
    |   посещении пользователем нашего веб-сайта мы можем предоставлять ему конкретную, интересующую его
    |   информацию о продуктах и услугах;
    |   обеспечение возможности создания с помощью облачного сервиса идентификации, предлагаемого
    |   компанией SAP, однопользовательского профиля, который может использоваться одним пользователем в
    |   рамках всей группы компаний SAP (включая все компании в составе SAP, а также все компании в
    |   составе Ariba, SuccessFactors, Hybris, Sybase, Business Objects, Fieldglass, Concur,
    |   Multiposting и SeeWhy) для доступа к веб-предложениям и сервисам. С учетом вышесказанного вы
    |   подтверждаете, что такие Персональные данные, которые требуются для создания вашего
    |   пользовательского профиля, могут для этих целей обмениваться и использоваться в рамках всей
    |   группы компаний SAP. В рамках такого сервиса вы также можете обмениваться сведениями о себе (в
    |   том числе Персональными данными) с другими зарегистрированными пользователями этого же сервиса.
    |   Можно использовать функциональные возможности соответствующего сервиса, чтобы определить, какими
    |   сведениями вы желаете обмениваться;
    |   помимо создания профиля в облачном сервисе идентификации, предлагаемом компанией SAP,
    |   обеспечение возможности создания других пользовательских профилей и предоставления доступа к
    |   другим частям персонального профиля, имеющих отношение к конкретному сервису (например,
    |   связанному с собственными партнерскими программами, форумами и сообществами компании SAP).
    |   Поскольку такие профили позволяют получить доступ к сервисам различных участников группы
    |   компаний SAP (включая все компании в составе SAP, а также все компании в составе Ariba,
    |   SuccessFactors, Hybris, Sybase, Business Objects, Fieldglass, Concur, Multiposting and SeeWhy),
    |   вы подтверждаете, что такие Персональные данные, которые требуются для создания вашего
    |   пользовательского профиля, могут для этих целей обмениваться и использоваться в рамках всей
    |   группы компаний SAP. В рамках такого сервиса вы также можете обмениваться сведениями о себе (в
    |   том числе Персональными данными) с другими зарегистрированными пользователями этого же сервиса.
    |   Можно использовать функциональные возможности соответствующего сервиса, чтобы определить, какими
    |   сведениями вы желаете обмениваться;
    |   обеспечение персонифицированного взаимодействия с пользователем и предоставление возможности
    |   просмотра защищенного контента;
    |   проведение онлайн-сеансов «нажатием одной кнопки» (Click to Chat и Click to Call);
    |   обеспечение и контроль качества информации и уровня обслуживания при общении со специалистами
    |   SAP в режиме реального времени за счет обучения персонала методикам эффективного взаимодействия
    |   с клиентами;
    |   обеспечение возможности связаться с пользователем для ответа на его запросы и предоставления
    |   сведений об отгрузке и выставлении счетов, а также обеспечение обратной связи с клиентом и
    |   осуществление поддержки;
    |   организация конкурсов, лотерей и других маркетинговых или рекламных мероприятий на www.sap.com
    |   или других веб-сайтах SAP. Для организации таких программ может осуществляться сбор Персональных
    |   данных;
    |   проведение опросов и исследований для улучшения качества продуктов и услуг, поставляемых
    |   клиентам и конечным пользователям. Участие в любых опросах является добровольным;
    |   подтверждение запросов на набор персонала;
    |   подготовка обезличенных данных в части пользования веб-сайтами и предложениями компании SAP. SAP
    |   намерена использовать такие обезличенные данные только для целей повышения качества наполнения
    |   указанных веб-сайтов и предложений;
    |   выполнение договорных обязательств; и
    |   соблюдение действующих нормативных требований, в частности обусловленных экспортным
    |   законодательством. Деятельность компании SAP, ее продукция, технологии и услуги регламентируются
    |   законами экспортного контроля различных стран, включая, помимо прочего, законы Европейского
    |   Союза и его стран-участниц, а также Соединенных Штатов Америки. Вы подтверждаете, что согласно
    |   действующим законам экспортного контроля, торговым санкциям и эмбарго, введенным этими странами,
    |   компания SAP должна принять меры по ограничению доступа хозяйственным подразделениям,
    |   организациям и сторонам, перечисленным в официально опубликованном списке компаний, попавших под
    |   санкции, к отдельным продуктам, технологиям и услугам через веб-сайты SAP и другие каналы
    |   доставки, контролируемые SAP. В этой связи вы подтверждаете и выражаете согласие с тем, что
    |   компания SAP вправе (i) в автоматическом режиме проверять регистрационные данные пользователя и
    |   прочие сведения, предоставляемые вами о себе, по применимым санкционным спискам; (ii) на
    |   регулярной основе проводить повторные проверки по санкционным спискам в случае их обновления или
    |   актуализации вами личных сведений; (iii) запретить вам доступ к услугам и системам компании SAP
    |   в случае потенциального совпадения данных со списками; и (iv) в случае потенциального совпадения
    |   данных со списками связаться с вами для подтверждения личности.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">2. Адреса электронной почты</div>
    |   <p>Если пользователь предоставляет SAP свой адрес электронной почты, взаимодействие с ним будет
    |   осуществляться посредством почты. Адрес электронной почты пользователя не будет предоставляться
    |   третьим сторонам, не входящим в группу компаний SAP, за исключением случаев, когда это требуется
    |   в интересах деловых отношений между пользователем и компанией SAP или когда пользователь
    |   регистрируется для получения услуг сторонних поставщиков. Пользователь может в любой момент
    |   отказаться от получения сообщений по электронной почте в соответствии с пунктом 9 («Право
    |   выбора/отказа») ниже. Однако такой выбор не затрагивает передачи сообщений электронной почты,
    |   которые неукоснительно требуются для целей реализации деловых отношений между пользователем и
    |   компанией SAP.</p>
    |   <p>В зависимости от настроек приложения для работы с электронной почтой, данные пользователя могут
    |   автоматически передаваться в SAP при отправке сообщения.</p>
    |   <p>Если пользователь пожелает приобрести услуги стороннего поставщика, может потребоваться передать
    |   поставщику некоторые данные регистрации на сайте SAP, включая адрес электронной почты.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">3. Приобретение товаров или регистрация на участие в
    |   мероприятиях
    |   </div>
    |   <p>Наш веб-сайт содержит бланки заказов, которые пользователь заполняет для запроса данных,
    |   продуктов или услуг. При этом в дополнение к сведениям, указанным выше, иногда требуется ввести
    |   финансовую информацию, например, банковские реквизиты или номер кредитной карты. SAP гарантирует
    |   использование предоставляемой финансовой информации исключительно для выставления счетов и
    |   получения платежей в рамках каждой конкретной операции. При этом данные пользователя могут
    |   передаваться третьим лицам, участвующим в операции, например, банкам, компаниям-эмитентам
    |   кредитных карт, платежным посредникам, а также прочим финансовым организациям и службам контроля
    |   кредитования.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">4. IP-адреса</div>
    |   <p>Использование IP-адресов позволяет нам диагностировать неисправности, определить страну, с
    |   территории которой пользователь пользуется нашими веб-сайтами и услугами, для размещения
    |   соответствующего предупреждения, управления веб-сайтом компании и сбора демографических
    |   сведений, как более подробно указано в пункте 5 («Автоматизированные средства») ниже.</p>
    |   <p>Кроме того, IP-адреса и другие сведения, предоставленные пользователем при посещении этого
    |   веб-сайта или в других случаях до этого, либо код кампании, могут использоваться, как более
    |   подробно указано в пункте 5 («Автоматизированные средства») ниже, для регистрации посещаемых
    |   страниц и определения потенциально интересных тем с последующим предоставлением пользователю
    |   информации о соответствующих продуктах и услугах.</p>
    |   <p>SAP может также регистрировать IP-адреса (и иные технические данные, например, тип браузера) в
    |   ходе сеанса чата или звонка «нажатием одной кнопки» (Click-to-Chat или Click-to-Call),
    |   инициированного пользователем. Эти данные записываются при подключении к SAP. Это необходимо для
    |   идентификации сеанса, контроля качества и предоставления контента с учетом технических
    |   возможностей браузера. IP-адрес не используется для идентификации личности пользователя без его
    |   предварительного согласия.</p>
    |   <p>SAP осуществляет сбор только той информации о пользователе, которая связана с посещением сайта
    |   SAP. Отслеживание и сбор Персональных данных при посещении веб-сайтов компаний или организаций,
    |   не входящих в группу компаний SAP, осуществляется только в объеме тех сведений, которые указаны
    |   выше в пункте III («Сбор и обработка персональных данных»).</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">5. Автоматизированные средства</div>
    |   <p>В дополнение к сведениям, предоставленным пользователем, SAP может также собирать информацию при
    |   посещении своего веб-сайта с помощью Автоматизированных средств, в число которых входят
    |   веб-маяки, файлы cookie, встроенные веб-ссылки и другие широко используемые инструменты для
    |   сбора информации. Эти средства служат для сбора стандартных данных, отправляемых браузером
    |   веб-сайту, таких как тип и язык браузера, время доступа и адрес веб-сайта, с которого выполнен
    |   переход на веб-сайт SAP. Эти инструменты позволяют SAP получать подтверждения о получении
    |   сообщений электронной почты, на которые подписался пользователь, и отслеживать прочие данные,
    |   такие как сведения о просматриваемых страницах соответствующего веб-сайта SAP, данные о
    |   регистрации пользователя в предложенном мероприятии и ряд других сводных данных, не связанных с
    |   конкретными лицами.</p>
    |   <p>За исключением случаев, когда в списке ниже указано иное средство для выбора решения,
    |   пользователь может отказаться от использования Автоматизированных средств, таких как файлы
    |   cookie, (i) нажав на соответствующую ссылку в подвале веб-сайта, если соответствующий веб-сайт
    |   поддерживает технологию администрирования файлов cookie — TRUSTe Consent Manager, или (ii)
    |   выбрав соответствующие параметры настройки используемого браузера, если решение TRUSTe Consent
    |   Manager недоступно. Просьба учесть, что в последнем случае настройки используемого браузера в
    |   отношении файлов cookie ограничиваются конкретным браузером, установленном на том или ином
    |   устройстве, и что вследствие этого при посещении веб-сайтов SAP с использованием других
    |   браузеров или устройств пользователю придется отключить отслеживающие файлы cookie в этих
    |   браузерах на всех соответствующих устройствах. Обращаем также внимание на то, что если это
    |   сделать, то функциональные возможности использования соответствующего сайта в полном объеме
    |   могут оказаться недоступными.</p>
    |   <p>В настоящее время SAP в частности использует следующие Автоматизированные средства для указанных
    |   ниже целей.</p>
    |   <p>а. Adobe Analytics
    |   <br>
    |   Некоторые веб-сайты, которые содержат ссылки на настоящее Положение о конфиденциальности,
    |   используют систему веб-аналитики Adobe Analytics. Adobe Analytics использует IP-адреса для
    |   примерного определения региона, откуда пришел пользователь. В этой связи на первом этапе Adobe
    |   Analytics собирает информацию с полным IP-адресом пользователей, а на втором этапе преобразует
    |   ее в обезличенную форму. Для определения примерного местоположения, откуда пользователь перешел
    |   на тот или иной веб-сайт, используется только обезличенная информация об IP-адресе.</p>
    |   <p>Кроме того, если пользователь уже зарегистрирован и осуществил вход в систему, SAP использует
    |   систему Adobe Analytics для отслеживания идентификатора пользователя вместе с информацией о том,
    |   как он использует соответствующий веб-сайт.</p>
    |   <p>В дополнение к возможности отказа посредством TRUSTe Consent Manager (при наличии такового) у
    |   пользователя есть возможность отказаться от сервиса Adobe Analytics нажатием на следующую
    |   ссылку: http://sap.d1.sc.omtrdc.net/optout.html?optout=1&confirm_change=1</p>
    |   <p>б. Adobe Target
    |   <br>
    |   Некоторые веб-сайты, которые содержат ссылки на настоящее Положение о конфиденциальности,
    |   используют систему персонализации контента Adobe Target. Каждому пользователю, который не
    |   отказывается от отслеживания, Adobe Target присваивает идентификатор пользователя в порядке,
    |   описанном ниже, а затем создает профиль пользователя на основе этого идентификатора, добавляя
    |   сведения о (i) браузере и другую устройство-ориентированную информацию о пользователе, (ii)
    |   тенденциях пользовательского поведения и (iii) данные о местонахождении пользователя. Сбор
    |   данных о местоположении осуществляется путем анализа обезличенной информации об IP-адресе
    |   пользователя: на первом этапе Adobe Target собирает информацию с полным IP-адресом
    |   пользователей, а на втором этапе преобразует ее в обезличенную форму. Для определения примерного
    |   местоположения, откуда пользователь перешел на тот или иной веб-сайт, используется только
    |   обезличенная информация об IP-адресе.</p>
    |   <p>Эта информация используется для отображения на веб-сайтах группы компаний SAP, использующих Adobe
    |   Target, целевого контента.</p>
    |   <p>В дополнение к возможности отказа посредством TRUSTe Consent Manager (при наличии такового) у
    |   пользователя есть возможность отказаться от сервиса Adobe Target нажатием на следующую ссылку:
    |   http://sap.d1.sc.omtrdc.net/optout.html?optout=1&confirm_change=1</p>
    |   <p>в. Google Analytics
    |   <br>
    |   Некоторые веб-сайты, которые содержат ссылки на настоящее Положение о конфиденциальности,
    |   используют систему веб-аналитики Google Analytics. Google Analytics использует файлы cookie,
    |   которые представляют собой текстовые файлы, размещенные на компьютере с целью упрощения для
    |   веб-сайта задачи анализа того, как он используется пользователями. Информация, генерируемая
    |   файлами cookie об использовании веб-сайта (включая IP-адрес пользователя), передается в
    |   распоряжение Google и хранится на серверах, размещенных на территории США. Google использует эту
    |   информацию с целью оценки использования веб-сайта пользователями, составления отчетов об
    |   активности сайтов для операторов сайтов и оказания других услуг, связанных с активностью сайтов
    |   и интенсивностью использования Интернета.</p>
    |   <p>Google может также передавать эту информацию третьим лицам, если это требуется по закону или если
    |   такие третьи лица ведут обработку информации от имени Google Google не будет ассоциировать
    |   IP-адрес пользователя ни с какими другими данными, находящимися в распоряжении Google.</p>
    |   <p>Google может также передавать эту информацию третьим лицам, если это требуется по закону или если
    |   такие третьи лица ведут обработку информации от имени Google Google не будет ассоциировать
    |   IP-адрес пользователя ни с какими другими данными, находящимися в распоряжении Google.</p>
    |   <p>В дополнение к возможности отказа посредством TRUSTe Consent Manager (при наличии такового)
    |   компания Google разработала расширение браузера Google Analytics Opt-out. Оно предоставляет
    |   посетителям веб-сайтов расширенный функционал выбора вариантов сбора их данных системой Google
    |   Analytics. Расширение обращается к Java-скрипту (ga.js) Google Analytics с указанием не
    |   отправлять информацию о посещенных веб-сайтах в Google Analytics. Загрузить расширение можно по
    |   этой ссылке: http://tools.google.com/dlpage/gaoptout?hl=en</p>
    |   <p>г. SAP Web Analytics
    |   <br>
    |   Некоторые веб-сайты, которые содержат ссылки на настоящее Положение о конфиденциальности,
    |   используют систему веб-аналитики SAP Web Analytics (далее — «SWA»). SWA позволяет проводить
    |   анализ того, как пользователи используют соответствующий сайт. Генерируемая информация (включая
    |   часть IP-адреса пользователя и идентификатор браузера) передается в распоряжение SAP и хранится
    |   на ее серверах. SAP использует эту информацию только с целью оценки использования веб-сайта
    |   пользователями, составления отчетов об активности сайтов для операторов сайтов и в конечном
    |   итоге – для повышения качества наполнения веб-сайтов SAP.</p>
    |   <p>На каждом веб-сайте, который использует SWA, содержится отдельное заявление о таком порядке
    |   использования данных и на усмотрение пользователя предоставляется возможность отказаться от
    |   отслеживания средствами SWA либо напрямую в соответствующем уведомлении, либо через TRUSTe
    |   Consent Manager, который доступен по ссылке на соответствующей странице (при ее наличии).</p>
    |   <p>д. Отслеживание использования веб-сайтов для целей маркетинга
    |   <br>
    |   Информация о способах доступа к веб-сайтам SAP и об их использовании пользователем может
    |   собираться этими веб-сайтами с использованием других средств, чтобы определить, какой контент
    |   наиболее соответствует целям просмотра при посещении того или иного веб-сайта.</p>
    |   <p>В этом случае SAP устанавливает тенденции пользовательского поведения (посещенные веб-сайты,
    |   момент времени, в который посещается веб-сайт, активность на веб-сайте, количество переходов,
    |   совершенных (к объектам) на веб-сайте, тип браузера, используемая операционная или
    |   вычислительная система, направляющий веб-сайт, с которого пользователь вошел на веб-сайт SAP,
    |   местоположение, с которого пользователем выполнен вход на веб-сайт) вместе с уникальным
    |   идентификатором (например, IP-адресом или идентификатором файла cookie), который позволяет SAP
    |   определить текущую активность некоторого лица на веб-сайтах компании, без получения таких
    |   сведений, как его имя, которые могут использоваться для непосредственной идентификации личности
    |   пользователя. SAP намерена использовать собранную информацию только для того, чтобы на ее
    |   веб-сайтах отображался необходимый целевой контент.</p>
    |   <p>Пользователь может отказаться от подобного отслеживания, (i) нажав на соответствующую ссылку в
    |   подвале веб-сайта, если соответствующий веб-сайт поддерживает решение TRUSTe Consent Manager,
    |   или (ii) выбрав соответствующие параметры настройки используемого браузера, если решение TRUSTe
    |   Consent Manager недоступно Просьба учесть, что в последнем случае настройки используемого
    |   браузера ограничиваются конкретным браузером, установленном на том или ином устройстве, и что
    |   вследствие этого при посещении веб-сайтов SAP с использованием других браузеров или устройств
    |   пользователю придется внести соответствующие изменения в настройки браузеров на всех таких
    |   устройствах Обращаем также внимание на то, что в зависимости от настроек браузера(-ов)
    |   функциональные возможности использования соответствующего сайта в полном объеме могут оказаться
    |   недоступными.</p>
    |   <p>е. Встроенные веб-ссылки
    |   <br>
    |   Сообщения электронной почты от SAP часто содержат ссылки на необходимые разделы веб-сайта,
    |   которые открываются после переадресации через серверы SAP. Система переадресации позволяет SAP
    |   при необходимости изменять конечный URL-адрес и оценивать эффективность маркетинговых инициатив.
    |   </p>
    |   <p>Нажатие на ссылки в таких сообщениях также регистрируется SAP, и данные о таком действии могут
    |   связываться непосредственно с личностью пользователя. Если пользователь желает избежать сбора
    |   данных о ссылках, по которым он переходит, он может не использовать ссылки из сообщений SAP.</p>
    |   <p>ж. Файлы cookie
    |   <br>
    |   Файлы cookie представляют собой идентификаторы, которые могут передаваться с сайта посредством
    |   используемого браузера для последующего размещения на жестком диске компьютера. Файлы cookie
    |   используются SAP для персонализации отображаемого контента, сохранения пароля или заполнения
    |   регистрационных форм, позволяя избежать необходимости повторного ввода информации, для
    |   отслеживания содержимого корзины для покупок и адаптации предлагаемой информации к использованию
    |   сайта пользователем.</p>
    |   <p>Пользователю предлагаются следующие два варианта принятия решения относительно использования
    |   компанией SAP файлов cookie:</p>
    |   <p>аа. Для того чтобы пользователь имел возможность принять решение относительно использования
    |   компанией SAP файлов cookie, на некоторых веб-сайтах SAP используется решение TRUSTe Consent
    |   Manager. Во всех случаях использования TRUSTe Consent Manager в подвале веб-сайта можно найти
    |   соответствующую ссылку. При нажатии на эту ссылку пользователь получает доступ к TRUSTe Consent
    |   Manager, где он может принять решение относительно использования компанией SAP файлов
    |   cookie.</p>
    |   <p>бб. В случае если на веб-сайте SAP решение TRUSTe Consent Manager не используется, пользователь
    |   вправе отказаться от использования файлов cookie, выбрав соответствующие параметры настройки
    |   своего браузера. Просьба учесть, что настройки используемого браузера в отношении файлов cookie
    |   ограничиваются конкретным браузером, установленном на том или ином устройстве, и что вследствие
    |   этого при посещении веб-сайтов SAP с использованием других браузеров или устройств пользователю
    |   придется отключить файлы cookie в этих браузерах на всех соответствующих устройствах. Кроме
    |   того, обращаем также внимание на то, что при отключении файлов cookie функциональные возможности
    |   использования веб-сайта в полном объеме могут оказаться недоступными.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">6. Передача персональных данных пользователя</div>
    |   <p>В качестве участника международной группы компаний SAP использует несколько веб-сайтов в разных
    |   странах мира. Любые данные и сведения, предоставленные на добровольной основе или собранные
    |   другими методами на одном из наших сайтов в любой стране мира, могут быть переданы в электронном
    |   виде на сервер одного из наших сайтов в другой стране. Такие серверы и другие виды оборудования
    |   для обработки данных могут размещаться на территории Европейской экономической зоны или за ее
    |   пределами либо в третьих странах, которые, по мнению Комиссии ЕС, демонстрируют должный уровень
    |   защиты данных. Мы защищаем право пользователя на конфиденциальность во всех странах мира,
    |   обеспечивая соблюдение принципов по защите данных, описанных в настоящем положении, на
    |   соответствующем сайте. Все предприятия в составе группы компаний SAP (включая во избежание
    |   сомнений все компании SAP, а также компании Ariba, SuccessFactors, Hybris, Sybase, Business
    |   Objects, Fieldglass, Concur, Multiposting и SeeWhy в полном составе) могут использовать
    |   информацию в международном масштабе, когда это связано с обработкой запросов и заказов
    |   пользователей, с целью предоставления услуг, повышения качества предлагаемых продуктов и
    |   сервисов для предоставления пользователям актуальной информации о новых сообщениях о появлении
    |   ИТ-продуктов, обновлениях программного обеспечения, модернизации программного обеспечения,
    |   устранении уязвимостей в системе безопасности, системных улучшениях, специальных предложениях,
    |   для обработки и хранения, а также для всех иных целей, указанных в разделе «Использование и цели
    |   сбора персональных данных» выше. Это также означает, что все компании группы SAP могут
    |   предоставлять вам рекламные материалы, если (в зависимости от страны, в которой осуществляет
    |   свою деятельность соответствующая компания группы SAP) ранее вы дали согласие и/или не
    |   отказывалась от получения рекламных материалов.</p>
    |   <p>Кроме того, такие сведения могут передаваться деловым партнерам, поставщикам услуг, официальным
    |   агентам третьих лиц или подрядчикам (например, Google, Inc. и Adobe Systems Inc.), если это
    |   необходимо для предоставления запрошенной услуги или осуществления транзакции, в том числе для
    |   обработки заказов и транзакций по кредитным картам, хостинга веб-сайтов, проведения мероприятий,
    |   регистрации на семинарах, предоставления поддержки или сведений об интересующих пользователя
    |   продуктах и услугах, с целью проанализировать поведение пользователей на наших веб-страницах
    |   (например, для Adobe Analytics и Google Analytics).</p>
    |   <p>Персональные данные пользователя предоставляются третьим лицам в минимальном объеме, необходимом
    |   для предоставления услуг от нашего лица. При этом третьи лица (где это требуется
    |   законодательством), исполняющие условия соответствующих соглашений об обработке данных и/или
    |   обязательства по сохранению конфиденциальности, не имеют права использовать эти Персональные
    |   данные для других целей, выходящих за рамки оказания запрошенной услуги или осуществления
    |   транзакции.</p>
    |   <p>Мы не продаем и не сдаем ваши Персональные данные третьим лицам в коммерческих целях, не получив
    |   ваше разрешение.</p>
    |   <p>Мы можем раскрыть ваши Персональные данные или иную необходимую информацию в ответ на судебный
    |   запрос, приказ или в связи с проведением судебного процесса, если такое раскрытие требуется в
    |   связи с применимым законодательством. Кроме того, компания может принять решение отстаивать или
    |   осуществлять свои законные права либо защищаться от судебных исков с использованием таких
    |   данных.</p>
    |   <p>Не исключено возникновение обстоятельств, в связи с которыми в стратегических или коммерческих
    |   целях SAP решит продать, купить, объединить или иным образом реорганизовать свой бизнес в
    |   некоторых странах. Такая операция может потребовать раскрытие Персональных данных потенциальным
    |   или имеющимся покупателям в соответствии с применимым законодательством или ее получение от
    |   поставщиков. В этом случае SAP придерживается принципов защиты полученных данных.</p>
    |   <p>Мы можем собирать ваши Персональные данные и раскрывать их и прочую доступную нам информацию для
    |   проведения расследования, предотвращения или принятия мер в отношении незаконной деятельности,
    |   мошенничества, ситуаций, несущих потенциальную угрозу безопасности какого-либо лица,
    |   предполагающих нарушение условий использования SAP, или в иных случаях, если того требует
    |   закон.</p>
    |   <p>При посещении веб-сайта SAP возможно перенаправление на другой сайт для ознакомления с контентом
    |   или функциональными возможностями поставщика третьих лиц. Как правило, это распространяется на
    |   особые мероприятия, например конкурсы или семинары. Если сбор информации осуществляется
    |   исключительно от лица SAP, веб-сайт будет содержать ссылку на положение о конфиденциальности
    |   соответствующего подразделения, и именно это положение будет определять правила использования
    |   данных. На прочих сайтах, не принадлежащих SAP, должна содержаться ссылка на политику
    |   конфиденциальности владельцев этих сайтов. В общем случае SAP требует, чтобы методы обработки
    |   данных поставщиков и деловых партнеров соответствовали положению о конфиденциальности SAP.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">7. Безопасность ваших персональных данных</div>
    |   <p>SAP стремиться защищать Персональные данные, которые вы нам предоставляете. SAP использует
    |   комбинацию стандартных отраслевых технологий, процедур и организационных мер безопасности для
    |   защиты ваших Персональных данных от несанкционированного доступа, использования или раскрытия.
    |   Чтобы защитить ваши данные, SAP обеспечивает безопасность онлайн-операций посредством надежных
    |   серверных технологий. Для предотвращения нарушений безопасности сайты SAP обеспечены самыми
    |   современными средствами и возможностями в сфере безопасности.</p>
    |   <p>Наши сотрудники и обработчики данных обязуются соблюдать ваши права на неприкосновенность частной
    |   жизни и конфиденциальность.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">8. Ссылки на другие сайты</div>
    |   <p>Настоящий веб-сайт может содержать ссылки на сторонние сайты (т. е. сайты, не принадлежащие
    |   группе компаний SAP). SAP не несет ответственности за политику конфиденциальности или контент
    |   веб-сайтов компаний, не входящих в группу SAP. Поэтому рекомендуется внимательно ознакомиться с
    |   политикой конфиденциальности таких сторонних сайтов.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">9. Право выбора/отказа</div>
    |   <p>Мы регулярно связываемся с пользователями, подписанными на наши услуги, посредством электронной
    |   почты. В определенных случаях, например при рассмотрении претензий или расследовании
    |   подозрительных операций, мы можем связаться с пользователем по телефону. Мы можем присылать на
    |   адрес электронной почты пользователя подтверждения об открытии счета, уведомления о платеже,
    |   сведения об изменении продуктов и услуг, а также иные предусмотренные законом уведомления и
    |   сообщения. Как правило, пользователи не могут отказаться от таких сообщений, но эти сообщения
    |   носят не рекламный, а информационный характер и касаются деловых отношений.</p>
    |   <p>Касательно сообщений рекламного характера (например, электронных писем и звонков) SAP обязуется
    |   (i) при наличии соответствующих законодательных требований направлять вам такую информацию
    |   только в случае вашего согласия и (ii) обеспечить возможность отказа от получения информации
    |   рекламного характера от нас. Отказаться от получения рекламных сообщений можно разными способами
    |   в зависимости от соответствующих групповых веб-предложений SAP:</p>
    |   <p>а. SAP SE, локальные аффилированные лица SAP, Hybris и Ariba:
    |   http://www.sap.com/profile/unsubscribe.html</p>
    |   <p>б. SuccessFactors: если вы получаете от нас рекламные или подобные электронные письма и хотите
    |   отказаться от них в дальнейшем, следуйте процедуре отказа от подписки, описанной в
    |   соответствующих письмах. Кроме того, если вы зарегистрированы на нашем сайте, вы можете
    |   отказаться от получения рекламных и подобных материалов в дальнейшем, отправив электронное
    |   письмо с просьбой о прекращении подписки по адресу: webmaster@sap.com. Пользователи
    |   SuccessFactors Recruiting Marketing (RMK) могут оставить запрос на прекращение получения
    |   дальнейших сообщений. Если вы являетесь зарегистрированным Пользователем, откройте полученное от
    |   RMK электронное письмо и нажмите ссылку отказа от подписки. Если вы хотите навсегда удалить свою
    |   учетную запись, направьте ваш запрос по адресу webmaster@sap.com.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">10. Сохранение данных</div>
    |   <p>SAP обязуется не хранить Персональные данные пользователей дольше, чем того требует достижение
    |   целей, для которых информация была собрана, а также применимые законы и нормативные акты. В
    |   частности, при отсутствии законодательных обязательств, требующих обратного, SAP удалит ваши
    |   Персональные данные после того, как вы направите SAP просьбу о прекращении их дальнейшей
    |   обработки. Направляйте подобные запросы по адресу webmaster@SAP.com. Обратите внимание, что в
    |   этом случае использование некоторых сервисов и предложений может быть ограничено или невозможно.
    |   При наличии законодательных обязательств, требующих от SAP сохранять Персональные данные, SAP
    |   прекратит их дальнейшую обработку и удалит соответствующие Персональные данные, как только
    |   действие запрета на удаление завершится.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">11. Запросы, доступ и обновление персональных данных</div>
    |   <p>SAP необходима ваша помощь, чтобы поддерживать точность и актуальность Персональных данных,
    |   предоставленных вами. Зарегистрированный пользователь может обновлять данные самостоятельно в
    |   своем профиле www.sap.com/profile. Вы также можете вносить обновления и другие изменения,
    |   отправляя их по адресу webmaster@SAP.com.</p>
    |   <p>Вопросы касательно настоящего Положения о конфиденциальности или запросы на просмотр ваших
    |   Персональных данных, которые мы храним, направляйте по адресу: Веб-мастер: webmaster@sap.com</p>
    |   <p></p>
    |   <p></p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">12. Особые положения для США</div>
    |   <p>В связи с требованиями конфиденциальности США, применимыми к SAP, дополнительно действуют
    |   следующие положения:</p>
    |   <p>а. Запрет на отслеживание
    |   <br>
    |   Файлы cookie представляют собой идентификаторы, которые могут передаваться с сайта посредством
    |   используемого браузера для последующего размещения на жестком диске компьютера. При последующем
    |   посещении сайта браузер отправляет веб-серверу ответное сообщение. В вашем браузере может быть
    |   доступна функция «Запретить отслеживание». Наш сайт игнорирует запросы о запрете отслеживания,
    |   но вы можете отказаться от приема файлов cookie, изменив соответствующие параметры вашего
    |   веб-браузера или, где возможно, воспользовавшись решением TRUSTe Consent Manager, если на
    |   соответствующих веб-сайтах содержится ссылка на него. Однако отказ от использования файлов
    |   cookie может сделать недоступными некоторые функции и возможности нашего сайта. Данный сайт не
    |   позволяет третьим лицам собирать информацию о вас в течение длительных периодов времени и через
    |   прочие сайты.</p>
    |   <p>б. Требования о защите конфиденциальности детей
    |   <br>
    |   Наш веб-сайт и онлайн-услуги не предназначены для использования лицами, не достигшими 13 лет.
    |   Если вы являетесь родителем или опекуном и считаете, что мы могли получить информацию о вашем
    |   ребенке, обратитесь к нам согласно инструкциям, указанным в настоящем Положении о
    |   конфиденциальности.</p>
    |   </div>
    |   <div class="agreement-modal-item">
    |   <div class="agreement-modal-title">13. Особые положения для России</div>
    |   <p>Положения ниже применяются к пользователям, проживающим на территории Российской Федерации:</p>
    |   <p>Услуги, предоставляемые по настоящему договору, не предназначены для использования гражданами
    |   Российской Федерации, проживающими на территории России. Если Вы являетесь гражданином России и
    |   проживаете на территории России, настоящим Вы уведомляетесь о том, что любые Персональные
    |   данные, введенные Вами на сайте в связи с оказанием услуг со стороны SAP, предоставляются Вами
    |   исключительно на Ваш риск и под Вашу ответственность, и Вы даете SAP согласие на сбор ваших
    |   Персональных данных и на их обработку, в том числе в США и других странах, и не станете
    |   предъявлять к SAP претензии в связи с каким-либо возможным несоблюдением законов Российской
    |   Федерации.</p>
    |   <p></p>
    |   <p></p>
    |   </div>
    |   </div>
    |   </div>