#popup-get-price.c-popup-default
  .c-popup-default-inner
    h2.c-popup-default-title Пришло время простых решений
    form(enctype='multipart/form-data', data-form-id='4')
      .c-form-items
        .c-form-item
          +inputWithLabel('text', 'name', 'Ваше имя', null, 'true', 'c-input-type1')
        .c-form-item
          +inputWithLabel('text', 'email', 'E-mail', null, 'true', 'c-input-type1')
        .c-form-item
          +inputWithLabel('tel', 'phone', 'Телефон', null, 'true', 'c-input-type1 js-phoneMask')
        .c-form-item
          +inputWithLabel('text', 'company', 'Компания', null, 'true', 'c-input-type1')
      +input-hidden('form_name', 'Посмотреть тест-драйв', 'c-input-type1')
      +agreement()
      button(type='submit').c-btn.c-btn-default Посмотреть тест-драйв