#popup-interface.c-popup-default.c-popup-wide
  .c-popup-default-inner
    section.interface
      .container
        h2.c-main-title.c-main-title_dark Индустриальные решения для вашего бизнеса с удобным интерфейсом и мощной аналитикой
        .slider-interface__wrap
          .slider-interface.js-slider-interface
            .slider-interface__slide(data-text='Оперативно отслеживайте показатели прибыли, объемы продаж и просроченной дебиторской задолженности на настраиваемом рабочем столе.')
              img(src='img/elements/interface/1.png', alt='alt')
            .slider-interface__slide(data-text='Получайте исчерпывающую информацию о своем клиенте в режиме реального времени.')
              img(src='img/elements/interface/2.png', alt='alt')
            .slider-interface__slide(data-text='Используйте аналитику, чтобы определить ваш будущий уровень продаж, и закупайте именно то, что действительно необходимо.')
              img(src='img/elements/interface/3.png', alt='alt')
            .slider-interface__slide(data-text='Ведите и актуализируйте календарный план производства в интерактивной диаграмме Ганта. Оценивайте загрузку исполнения в разрезе ресурсов и заказов.')
              img(src='img/elements/interface/4.png', alt='alt')
            .slider-interface__slide(data-text='Управляйте нормативно-справочной информацией об изделии. <span>В SAP Business One</span> реализована поддержка многоуровневой структуры изделия, включая данные по составу и технологическим маршрутам производства. Учитывайте замены и варианты реализации готовой продукции.')
              img(src='img/elements/interface/5.png', alt='alt')
            .slider-interface__slide(data-text='Отслеживайте статус выполнения производственного заказа в режиме реального времени. Используйте мониторинг критических ситуаций таких, как задержка исполнения операций и нехватка ресурсов. В <span>SAP Business One</span> вы сможете детализировать информацию до уровня оборудования и исполнителя.')
              img(src='img/elements/interface/6.png', alt='alt')
            .slider-interface__slide(data-text='Узнайте заранее загрузку своих ресурсов, чтобы избежать простоя или неустоек за невыполненный в срок заказ.')
              img(src='img/elements/interface/7.png', alt='alt')
            .slider-interface__slide.slider-interface__slide--centred(data-text='Управляйте бизнесом эффективнее и быстрее с мобильным приложением <br><span>SAP Business One</span>.')
              img(src='img/elements/interface/8.png', alt='alt')
            .slider-interface__slide(data-text='Где бы вы не находились, получайте актуальные данные по показателям прибыли, объемам продаж и просроченной дебиторской задолженности.')
              img(src='img/elements/interface/9.png', alt='alt')
          .slider-interface__content
            p.slider-interface__text
            .slider-interface__dots
            .slider-interface__counter
              .slider-interface__current
              .slider-interface__all