section.c-block-type6.c-block-type6-padding(id='order')
  .container
    .c-block-type6-left
      h2.c-main-title.c-main-title_accent Посмотрите наглядные демо-сценарии системы
      .c-block-type6-text и оцените сами, как легко в ней решаются 
        br
        | даже самые сложные задачи
      ul.c-block-type6-list.c-unlist
        li.c-block-type6-list-item Упрощение обработки заказов
        li.c-block-type6-list-item Запрос предложений поставщиков
        li.c-block-type6-list-item Контроль над денежными потоками
        li.c-block-type6-list-item Ведение бизнеса в полевых условиях
        li.c-block-type6-list-item Управление возможностями продаж
    .c-block-type6-right
      .c-block-type6-form-wrap
        .c-block-type6-form-title Пришло время простых решений!
        form(enctype='multipart/form-data', data-form-id='2')
          .c-form-items
            .c-form-item
              +inputWithLabel('text', 'name', 'Ваше имя', null, 'true', 'c-input-type1')
            .c-form-item
              +inputWithLabel('text', 'email', 'E-mail', null, 'true', 'c-input-type1')
            .c-form-item
              +inputWithLabel('tel', 'phone', 'Телефон', null, 'true', 'c-input-type1 js-phoneMask')
            .c-form-item
              +inputWithLabel('text', 'company', 'Компания', null, 'true', 'c-input-type1')
          +input-hidden('form_name', 'Пришло время простых решений! Форма наглядные демо-сценарии системы', null)
          +agreement()
          button(type='submit', disabled).c-btn.c-btn-default Посмотреть тест-драйв