section.c-block-type5(id='about')
  .container
    .c-block-type5-content.c-block-type5-padding
      h2.c-main-title.c-main-title_accent SAP Business One в России и в мире
      .c-block-type5-slider.js-slider3
        .c-block-type5-slider-slide
          .c-block-type5-slider-slide-content
            .c-block-type5-slider-slide-title 60 000
            .c-block-type5-slider-slide-text Клиентов SAP Business One 
              br
              | во всем мире
        .c-block-type5-slider-slide
          .c-block-type5-slider-slide-content
            .c-block-type5-slider-slide-title 1 000 000
            .c-block-type5-slider-slide-text Пользователей SAP 
              br
              | Business One в мире
        .c-block-type5-slider-slide
          .c-block-type5-slider-slide-content
            .c-block-type5-slider-slide-title 2 300
            .c-block-type5-slider-slide-text Дочерних предприятий
              br
              | крупнейших корпораций
        .c-block-type5-slider-slide
          .c-block-type5-slider-slide-content
            .c-block-type5-slider-slide-title 170
            .c-block-type5-slider-slide-text Стран в которых работают 
              br
              | клиенты SAP Business One
        .c-block-type5-slider-slide
          .c-block-type5-slider-slide-content
            .c-block-type5-slider-slide-title 28
            .c-block-type5-slider-slide-text Языков
        .c-block-type5-slider-slide
          .c-block-type5-slider-slide-content
            .c-block-type5-slider-slide-title 44
            .c-block-type5-slider-slide-text Локализации