section.c-block-type7.c-block-type7-padding(id='why')
  .container
    h2.c-main-title.c-main-title_dark Почему SAP Business One
    .c-block-type7-content
      .c-block-type7-aside
        .c-block-type7-aside-title 23
          span %
        .c-block-type7-aside-text средний прирост прибыли у компаний, внедривших SAP Business One
      .c-block-type7-items
        .c-block-type7-item
          .c-block-type7-item-topline
          .c-block-type7-item-title Комплексное решение со 
            br
            | встроенной аналитикой на HANA
          ul.c-block-type7-item-list.c-unlist
            li.c-block-type7-item-list-item Управление взаимоотношениями с клиентами;
            li.c-block-type7-item-list-item Управление закупками, запасами и продажами;
            li.c-block-type7-item-list-item Управление производством;
            li.c-block-type7-item-list-item Управление финансами предприятия;
            li.c-block-type7-item-list-item Бухгалтерский и налоговый учет;
            li.c-block-type7-item-list-item Управленческий учет;
            li.c-block-type7-item-list-item Аналитика и отчетность.
        .c-block-type7-item
          .c-block-type7-item-topline
          .c-block-type7-item-title Готовые индустриальные 
            br
            | расширения
          ul.c-block-type7-item-list.c-unlist
            li.c-block-type7-item-list-item Партнерами SAP Business One разработано более 500 индустриальных решений для быстрого внедрения и запуска;
            li.c-block-type7-item-list-item Наиболее востребованные направления решений: потребительские товары, промышленное оборудование и компоненты, профессиональные услуги, розничная торговля, оптовая торговля.
        .c-block-type7-item
          .c-block-type7-item-topline
          .c-block-type7-item-title Доступно в облаке по подписке
          ul.c-block-type7-item-list.c-unlist
            li.c-block-type7-item-list-item Инновации в режиме реального времени: прогнозирование денежных потоков, проверка доступности товара, встроенная аналитика;
            li.c-block-type7-item-list-item Инструментальные панели для мониторинга, ключевые показатели эффективности (KPI’s) и отчеты;
            li.c-block-type7-item-list-item Мощный интерактивный инструмент для анализа отчетности с заранее подготовленными сценариями;
            li.c-block-type7-item-list-item Многомерные модели данных (OLAP-кубы);
            li.c-block-type7-item-list-item Быстрый поиск и навигация.
        .c-block-type7-item
          .c-block-type7-item-topline
          .c-block-type7-item-title Доступно через мобильное приложение
          ul.c-block-type7-item-list.c-unlist
            li.c-block-type7-item-list-item Доступ к данным из любого уголка мира;
            li.c-block-type7-item-list-item Приложение для персонального компьютера;
            li.c-block-type7-item-list-item Безопасный доступ из браузера;
            li.c-block-type7-item-list-item Мобильное приложение для iOS и Android со встроенной аналитикой и отчетностью.