section.c-block-type1.c-block-type1-padding(style='background-image: url(img/elements/block1/bg1.jpg)')
  .c-block-type1-lines
  //-.c-block-type1-sap
  .container
    .c-block-type1-top
      h1.c-block-type1-title Лучшие практики SAP доступны для малого и среднего бизнеса 
        br
        | в ERP-решении SAP Business One
    .c-block-type1-bottom
      .c-block-type1-bottom-title Пришло время простых решений!
      .c-block-type1-bottom-form-wrap
        form(enctype='multipart/form-data', data-form-id='0')
          .c-form-items
            .c-form-item
              +inputWithLabel('text', 'name', 'Ваше имя', null, 'true', 'c-input-type1')
            .c-form-item
              +inputWithLabel('text', 'email', 'E-mail', null, 'true', 'c-input-type1')
            .c-form-item
              +inputWithLabel('tel', 'phone', 'Телефон', null, 'true', 'c-input-type1 js-phoneMask')
            .c-form-item
              +inputWithLabel('text', 'company', 'Компания', null, 'true', 'c-input-type1')
          +input-hidden('form_name', 'Пришло время простых решений! Форма в шапке', null)
          button(type='submit', disabled).c-btn.c-btn-default Посмотреть тест-драйв
          +agreement()