section.c-block-type3.c-block-type3-padding(id='video')
  .container
    .c-block-type3-content
      .c-block-type3-slider.js-slider1
        .c-block-type3-slider-slide(style='background-image: url(img/elements/block3/bg2.jpg)')
          .c-block-type3-slider-slide-content
            a(href='https://www.youtube.com/watch?v=knLOYhr-PeE').c-block-type3-slider-slide-content-play.js-popup-video
            .c-block-type3-slider-slide-info
              .c-block-type3-slider-slide-info-logo
                img(src='img/elements/block3/logo2.png', alt='Telecom биржа')
              .c-block-type3-slider-slide-info-text Посмотрите, как SAP Business One помогает масштабировать бизнес российскому телеком-оператору «Telecom биржа»
        .c-block-type3-slider-slide(style='background-image: url(img/elements/block3/bg3.jpg)')
          .c-block-type3-slider-slide-content
            a(href='https://www.youtube.com/watch?v=799MS8sxpKA').c-block-type3-slider-slide-content-play.js-popup-video
            .c-block-type3-slider-slide-info
              .c-block-type3-slider-slide-info-logo
                img(src='img/elements/block3/logo3.png', alt='Smart Network Group')
              .c-block-type3-slider-slide-info-text Посмотрите, как SAP Business One помог упростить и взять под контроль операционную деятельность Smart Network Group
        .c-block-type3-slider-slide(style='background-image: url(img/elements/block3/bg1.jpg)')
          .c-block-type3-slider-slide-content
             a(href='https://www.youtube.com/watch?v=8um_VhBPHGI').c-block-type3-slider-slide-content-play.js-popup-video
             .c-block-type3-slider-slide-info
               .c-block-type3-slider-slide-info-logo
                 img(src='img/elements/block3/logo1.jpg', alt='Anaklia')
               .c-block-type3-slider-slide-info-text Посмотрите, как SAP Business One помогает Anaklia Development Consortium (ADC) воплотить самый масштабный проект по развитию портовой инфраструктуры в Грузии.
      .c-block-type3-slider-nav.js-slider1-nav
        .c-block-type3-slider-nav-slide
          .c-block-type3-slider-nav-slide-img(style='background-image: url(img/elements/block3/bg2.jpg)')
          .c-block-type3-slider-nav-slide-title Telecom биржа
        .c-block-type3-slider-nav-slide
          .c-block-type3-slider-nav-slide-img(style='background-image: url(img/elements/block3/bg3.jpg)')
          .c-block-type3-slider-nav-slide-title Smart Network Group
        .c-block-type3-slider-nav-slide
          .c-block-type3-slider-nav-slide-img(style='background-image: url(img/elements/block3/bg1.jpg)')
          .c-block-type3-slider-nav-slide-title ADC