section.c-block-type4(id='func')
  .container
    .c-block-type4-content.c-block-type4-padding
      h2.c-main-title.c-main-title_dark Базовые сценарии системы для роста вашего бизнеса
      .c-block-type4-slider-nav.js-slider2-nav
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 1
          .c-block-type4-slider-nav-slide-title Продажи
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 2
          .c-block-type4-slider-nav-slide-title Склад
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 3
          .c-block-type4-slider-nav-slide-title Закупки
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 4
          .c-block-type4-slider-nav-slide-title Финансы
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 5
          .c-block-type4-slider-nav-slide-title Управление и контроль
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 6
          .c-block-type4-slider-nav-slide-title CRM
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 7
          .c-block-type4-slider-nav-slide-title Сервис
        .c-block-type4-slider-nav-slide
          .c-block-type4-slider-nav-slide-number 8
          .c-block-type4-slider-nav-slide-title Управление проектами
      .c-block-type4-slider.js-slider2
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title Продажи
            .c-block-type4-slider-slide-text SAP Business One позволяет консолидировать детальную информацию о клиентах и продажах, на основе которой Вы сможете оптимизировать и обеспечить корректность всего процесса:  от ценообразования до управления дебиторской задолженностью.
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Рост продаж за счет фокусировки на прибыльных клиентах;
              li.c-block-type4-slider-slide-list-item Повышение доходов компании за счет увеличения кросс-продаж, доходности текущих продаж и увеличения жизненного цикла клиента;
              li.c-block-type4-slider-slide-list-item Сокращение времени исполнения заказов;
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/5.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/5.jpg', title='Визуализация данных по продажам')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title Склад
            .c-block-type4-slider-slide-text Управляйте запасами на всех складах в режиме реального времени.  С помощью SAP Business One Вы сможете отслеживать движение запасов, оптимизировать их уровень, тщательнее соблюдать сроки доставки, а также планировать потребность в материалах (MRP).
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Снижение уровня запасов;
              li.c-block-type4-slider-slide-list-item Сокращение затрат на хранение и перемещение ТМЦ;
              li.c-block-type4-slider-slide-list-item Минимизация упущенных продаж за счет поддержки необходимого уровня наличия товаров;
              li.c-block-type4-slider-slide-list-item Повышение точности данных о количестве и размещении товаров на складе за счет адресного хранения;
              li.c-block-type4-slider-slide-list-item Сокращение времени на инвентаризацию.
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/2.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/2.jpg', title='Информация по складу в аналитике складских мест')
                //-a(href='https://images.pexels.com/photos/839470/pexels-photo-839470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                //-a(href='https://images.pexels.com/photos/839470/pexels-photo-839470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                //-a(href='https://images.pexels.com/photos/839470/pexels-photo-839470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title Закупки
            .c-block-type4-slider-slide-text SAP Business One позволяет объединить процесс закупок со складским и бухгалтерским учетом в единой системе и систематизируют все операции процесса закупок: от заказа и поступления товара до расчетов с поставщиками.
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Оптимизация закупочной стратегии предприятия за счет планирования закупок на основе прогноза продаж, плана производства и рентабельности товаров;
              li.c-block-type4-slider-slide-list-item Оптимизация расходов из-за уменьшения стоимости закупок;
              li.c-block-type4-slider-slide-list-item Увеличение производительности труда менеджеров отдела снабжения.
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/3.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/3.jpg', title='Аналитические возможности в процессе закупок')
                //-a(href='https://images.pexels.com/photos/321339/pexels-photo-321339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                //-a(href='https://images.pexels.com/photos/321339/pexels-photo-321339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                //-a(href='https://images.pexels.com/photos/321339/pexels-photo-321339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                //-a(href='https://images.pexels.com/photos/321339/pexels-photo-321339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title Финансы
            .c-block-type4-slider-slide-text SAP Business One — это надежное решение для организации финансового учета в компании. Рутинные задачи автоматизированы и интегрированы с другими процессами, что позволяет ускорить анализ операций и финансовых потоков в реальном времени. Вы сможете увеличить прибыль, сократить число ошибок и принимать более эффективные решения.
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Возможность сквозного анализа финансовых показателей бизнеса;
              li.c-block-type4-slider-slide-list-item Создание единой среды консолидации финансовых потоков для принятия эффективных управленческих решений;
              li.c-block-type4-slider-slide-list-item Сокращение времени на подготовку отчетности за счет автоматизации ручных операций по формированию отчетности.
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/4.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/4.jpg', title='Прогноз движения денежных средств')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title Управление и контроль
            .c-block-type4-slider-slide-text Быстро принимайте точные и взвешенные решения, опираясь на всю необходимую актуальную информацию о ресурсах, проектах, процессах и сотрудниках. Совмещайте все данные в одной системе — разрозненные таблицы, ошибки и дублирование информации остались в прошлом!
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Повышение доходов компании за счет возможности более своевременных и качественных управляющих решений;
              li.c-block-type4-slider-slide-list-item Прозрачность работы сотрудников для руководителя, что позволяет отследить нагрузку и производительность сотрудников, а также их текущие результаты;
              li.c-block-type4-slider-slide-list-item Сокращение времени на подготовку оперативных отчетов благодаря встроенным инструментам и шаблонам.
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/1.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/1.jpg', title='Визуализация цепочки бизнес процессов')
                //-a(href='https://images.pexels.com/photos/321339/pexels-photo-321339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                //-a(href='https://images.pexels.com/photos/839470/pexels-photo-839470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='https://images.pexels.com/photos/321339/pexels-photo-321339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title CRM
            .c-block-type4-slider-slide-text Превращайте потенциальных клиентов в постоянных, повышайте их удовлетворенность и увеличивайте показатели прибыли. Встроенный модуль CRM поддерживает все операции по привлечению клиентов — от управления маркетинговыми кампаниями до мониторинга потенциальных возможностей в режиме реального времени.
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Минимизация рисков потери клиента;
              li.c-block-type4-slider-slide-list-item Повышение лояльности клиентов;
              li.c-block-type4-slider-slide-list-item Увеличения количества успешных сделок;
              li.c-block-type4-slider-slide-list-item Сокращение времени на поиск информации по клиентам.
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/6.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/6.jpg', title='Возможности продаж')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title Сервис
            .c-block-type4-slider-slide-text Решение SAP Business One позволяет полностью контролировать сервисные заявки, планировать занятость технических специалистов, делать отчеты по объектам сервиса, заключать сервисные договоры.
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Сокращение временных затрат на обработку клиентских заявок;
              li.c-block-type4-slider-slide-list-item Повышение прозрачности качества работы специалистов;
              li.c-block-type4-slider-slide-list-item Оптимизация работы сервисной службы за счет единой базы знаний решений.
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/7.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/7.jpg', title='Сервисный блок')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
        .c-block-type4-slider-slide
          .c-block-type4-slider-slide-left
            .c-block-type4-slider-slide-title Управление проектами
            .c-block-type4-slider-slide-text С помощью SAP Business One Вы сможете осуществлять мониторинг проекта, его этапов и подпроектов, анализировать бюджет и формировать отчеты по различным аспектам.
          .c-block-type4-slider-slide-middle
            .c-block-type4-slider-slide-badge Эффекты
            ul.c-block-type4-slider-slide-list.c-unlist
              li.c-block-type4-slider-slide-list-item Возможность быстрого план-факт анализа по проекту и его этапам;
              li.c-block-type4-slider-slide-list-item Централизация всей информации по проекту;
              li.c-block-type4-slider-slide-list-item Снижение рисков отклонения от установленных сроков за счет контроля проекта в режиме реального времени.
          .c-block-type4-slider-slide-right
            .c-block-type4-slider-slide-img-wrap.js-popup-gallery
              .c-block-type4-slider-slide-img
                img(src='img/elements/block4/8.jpg', alt='alt')
              a(href='#').c-block-type4-slider-slide-img-link Посмотреть скриншоты
              .js-popup-gallery-images
                a(href='img/elements/block4/8.jpg', title='Аналитика по проекту')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')
                //-a(href='http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg')