section.c-block-type10.c-block-type10-padding(id='pricing')
  .container
    h2.c-main-title.c-main-title_accent Стоимость проекта
    .c-block-type10-descr ERP-система SAP Business One имеет 2 варианта размещения
    .c-block-type10-content
      .c-block-type10-content-left
        .c-block-type10-content-item
          .c-block-type10-content-item-title В защищенном облаке
          .c-block-type10-content-item-price
            .c-block-type10-content-item-price-text от 
              span 2 287
              | рублей
            .c-block-type10-content-item-text за 1 пользователя в месяц
          //-.c-block-type10-content-item-text Стоимость внедрения: от 500.000 рублей
      .c-block-type10-content-right
        .c-block-type10-content-item
          .c-block-type10-content-item-title И на вашем локальном сервере
          .c-block-type10-content-item-text Заполните 
            a(href='#popup-get-price').js-popup форму обратной связи 
            |  и мы сделаем расчет стоимости для вашего проекта