section.c-block-type8.c-block-type8-padding(id='story')
  .container
    h2.c-main-title.c-main-title_dark История успеха 
      br
      | наших клиентов
    .c-block-type8-slider.js-slider4
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Omnicomm
            .c-block-type8-slider-slide-item-text Решения для мониторинга транспорта
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Автоматизация бизнес-процессов, разработка системы управленческого учета
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item Сокращение трудозатрат и рост эффективности сотрудников;
              li.c-block-type8-slider-slide-item-list-item Минимизация ошибок при работе с данными;
              li.c-block-type8-slider-slide-item-list-item Взаимодействие всех подразделений в едином инфопространстве.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Преимущества SAP Business One и соответствие этой платформы целям и ожиданиям Omnicomm были очевидны уже на презентации решения и подтвердилась по итогам проекта. Внедрение ERP-системы позволило по-новому взглянуть на бизнес-процессы и провести их оптимизацию в соответствии со стратегическими целями компании.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Александр Селиванов,
              .c-block-type8-slider-slide-quote-author-descr исполнительный директор Omnicomm
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-omnicomm.jpg', alt='Omnicomm')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Anaklia Development Consortium
            .c-block-type8-slider-slide-item-text Строительство
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Управление и контроль крупных сделок
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item сокращение трудозатрат на 30%;
              li.c-block-type8-slider-slide-item-list-item повышение открытости информации / прозрачности бизнес-процессов на 45%.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Решение SAP Business One легко решает все наши задачи. Оно полностью адаптировано к местному законодательству, интегрировано с налоговой службой и интернет-банкингом, что значительно помогает экономить время на рутинных операциях, а также дает возможность сосредоточиться на главных бизнес-задачах.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Зураб Пичхая,
              .c-block-type8-slider-slide-quote-author-descr финансовый директор
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block9/client8.jpg', alt='Anaklia Development Consortium')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Telecom биржа
            .c-block-type8-slider-slide-item-text Волоконно-оптические сети
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Переход на новый уровень эффективности
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item Сокращение цикла сделки на 40%;
              li.c-block-type8-slider-slide-item-list-item Повышение лояльности клиентов;
              li.c-block-type8-slider-slide-item-list-item Эффективное планирование деятельности на основе точной, полной и оперативной аналитики.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text C SAP Business One Cloud наша работа с клиентами стала более оперативной и гибкой, взаимодействие подразделений – более слаженным, обеспечивая уровень конкурентных преимуществ.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Александр Вахтин,
              .c-block-type8-slider-slide-quote-author-descr управляющий директор ООО "Телеком-Биржа"
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block9/client6.png', alt='Telecom биржа')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title SHISEIDO
            .c-block-type8-slider-slide-item-text Продажа элитной косметики
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Оптимизация бизнес-процессов
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item В 2 раза оптимизированы товарные запасы;
              li.c-block-type8-slider-slide-item-list-item До 8-10 минут сокращено время на обработку заказа;
              li.c-block-type8-slider-slide-item-list-item Оценка себестоимости продукции с точностью до 0,5%.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Применение SAP Business One позволило нам оптимизировать сложные товарные потоки, усовершенствовать учет себестоимости по каждой группе товаров, предоставить руководителям надежную информацию для принятия решений, а также соответствовать стандартам головной компании, касающимся прозрачности операций, разделения полномочий пользователей. Мы считаем, что наш выбор решения SAP Business One был оправдан, и планируем дальнейшее развитие и доработку системы в течение ее жизненного цикла.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Антон Аважанский,
              .c-block-type8-slider-slide-quote-author-descr финансово-административный директор
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-shiseido.jpg', alt='SHISEIDO')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Евротрак
            .c-block-type8-slider-slide-item-text Торговля автозапчастями
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Ускорить работу с клиентами и заказами
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item На 50% сократилось время обслуживания;
              li.c-block-type8-slider-slide-item-list-item На 70% ускорилась приемка товара;
              li.c-block-type8-slider-slide-item-list-item В 4 раза уменьшились сроки комплектации заказов.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Решение SAP Business One позволило нам догнать и обогнать лидеров рынка по качеству и оперативности обслуживания клиентов, развивать потенциал роста продаж и открыть новые бизнес-направления — в частности, продажи через интернет. Мы стали быстрее, точнее,а значит, сильнее!
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Андрей Щербаков,
              .c-block-type8-slider-slide-quote-author-descr генеральный директор
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-evrotrak.jpg', alt='Евротрак')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Интер-коммерц
            .c-block-type8-slider-slide-item-text Эксклюзивный дистрибьютор компании BAUER
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Оптимизировать цепочки заказов и обеспечить детальный учет
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item В 2-2,5 раза сокращен цикл обработки заказов;
              li.c-block-type8-slider-slide-item-list-item Настроена единая система учета и проведена интеграция с другими ключевыми системами.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Внедренное решение объединило все подразделения нашей компании в единое информационное пространство и помогло перейти на качественно новый уровень ведения бизнеса. Руководство и сотрудники получили доступ ко всей информации, необходимой для быстрого и качественного выполнения текущей деятельности, контроля и коррекции ключевых бизнес-процессов, анализа и планирования взаимодействия с клиентами, поставщиками и представительствами в регионах.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Анна Дородникова,
              .c-block-type8-slider-slide-quote-author-descr исполнительный директор
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-bauer.jpg', alt='Интер-коммерц')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title ОПТЭК
            .c-block-type8-slider-slide-item-text Электронное и оптическое оборудование
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Оптимизация бизнес-процессов
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item На 20,7% увеличился объем цепочек продаж на 1 сотрудника;
              li.c-block-type8-slider-slide-item-list-item На 43,97% увеличился объем выполненных заказов.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Показательным примером успешности внедрения можно считать начало использования оперативной отчетности, получаемой из системы, для обсуждения на совещаниях руководителей компании, а также принятия на ее основе стратегических и тактических решений по управлению бизнесом. До этого момента решения в основном основывались на данных бухгалтерского баланса, получаемых, как мы знаем, с большой отсрочкой. Информационная система на базе SAP стала средством деловой коммуникации разных подразделений, что способствует достижению успеха в самых сложных рыночных условиях.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Сергей Колоколов,
              .c-block-type8-slider-slide-quote-author-descr руководитель департамента Информационных технологий и безопасности компании ОПТЭК
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-optec.jpg', alt='ОПТЭК')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Меттлер-Толедо Восток
            .c-block-type8-slider-slide-item-text Производство и дистрибуция весового оборудования
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Повысить эффективность бизнеса посредством создания мощной информационной основы
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item Повышение валовой прибыли до 15%.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Проанализировав свою деятельность в новой системе, мы были приятно удивлены повышением валовой прибыли по многим направлениям до 15%. Мы связываем этот результат с повышением контроля нашей деятельности благодаря SAP Business One
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Юрий Макаров,
              .c-block-type8-slider-slide-quote-author-descr заместитель директора, ЗАО «Меттлер-Толедо Восток»
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-mettler.jpg', alt='Меттлер-Толедо Восток')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Abitek
            .c-block-type8-slider-slide-item-text Телекоммуникации (Россия, Украина, Казахстан, Грузия)
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Организация процессов продаж и повышение точности прогнозирования
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item На 20% повысилась точность прогнозирования;
              li.c-block-type8-slider-slide-item-list-item На 35% снизилось время на отслеживание информации;
              li.c-block-type8-slider-slide-item-list-item На 15% увеличилась эффективность процессов принятия решений.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Мы не планируем останавливаться на достигнутом. Число пользователей в системе вскоре увеличится почти в 4 раза, в планах по внедрению – финансовый модуль SAP Business One для создания и поддержки работы распределенной структуры с финансовым отделом в каждом офисе.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Георги Гоголадзе,
              .c-block-type8-slider-slide-quote-author-descr директор грузинского офиса
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-abitek.jpg', alt='Abitek')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Терминал Восток
            .c-block-type8-slider-slide-item-text Строительство
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Контроль роста предприятия, снижение рисков необоснованных инвестиций
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item На 20% сокращение финансовых затрат;
              li.c-block-type8-slider-slide-item-list-item На 30% рост производительности труда;
              li.c-block-type8-slider-slide-item-list-item На 50% сокращение временных затрат на планирование.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text С решениями SAP мы смогли вывести на новый уровень процесс трансформации нашего бизнеса. Централизация всех процессов на единой технологической платформе позволит компании работать над дальнейшим совершенствованием продуктов и модернизацией системы управления.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Анна Анатольевна Иванова,
              .c-block-type8-slider-slide-quote-author-descr исполнительный директор «Терминал Восток»
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block8/logo-terminal.jpg', alt='Терминал Восток')
      .c-block-type8-slider-slide
        .c-block-type8-slider-slide-left
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-title Smart Network Group
            .c-block-type8-slider-slide-item-text Телекоммуникации
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Задача
            .c-block-type8-slider-slide-item-text Оптимизация бизнес-процессов
          .c-block-type8-slider-slide-item
            .c-block-type8-slider-slide-item-badge Результат
            ul.c-block-type8-slider-slide-item-list.c-unlist
              li.c-block-type8-slider-slide-item-list-item на 20% повысилась точность прогнозирования продаж;
              li.c-block-type8-slider-slide-item-list-item на 15% увеличилась эффективность процессов принятия решений;
              li.c-block-type8-slider-slide-item-list-item на 25% сократились затраты на обслуживание клиентов.
        .c-block-type8-slider-slide-right
          .c-block-type8-slider-slide-quote
            .c-block-type8-slider-slide-quote-text Мы выбрали SAP Business One, и это позволило нам взять под контроль и упростить операционную деятельность, получать данные о текущем состоянии бизнеса в реальном времени и быстро принимать правильные решения. Таким образом, мы сохраняем и усиливаем свои основные преимущества — гибкость и оперативность.
            .c-block-type8-slider-slide-quote-author
              .c-block-type8-slider-slide-quote-author-title Влада Ткачук,
              .c-block-type8-slider-slide-quote-author-descr директор по развитию бизнеса
            .c-block-type8-slider-slide-logo
              img(src='img/elements/block9/client7.png', alt='Smart Network Group')