section.c-block-type12.c-block-type12-padding
  .container
    h2.c-main-title.c-main-title_dark.c-main-title_centred Мероприятия
    .c-block-type12-slider-nav.js-slider6-nav
      .c-block-type12-slider-nav-slide
        .c-block-type12-slider-nav-slide-title 30
        .c-block-type12-slider-nav-slide-text Мая
      .c-block-type12-slider-nav-slide
        .c-block-type12-slider-nav-slide-title 14
        .c-block-type12-slider-nav-slide-text Июня
    .c-block-type12-slider.js-slider6
      .c-block-type12-slider-slide
        .c-block-type12-slider-slide-content
          .c-block-type12-slider-slide-title SAP Forum в Астане
          .c-block-type12-slider-slide-text Приглашаем вас на крупнейшее бизнес-событие года в Казахстане — SAP Forum.
      .c-block-type12-slider-slide
        .c-block-type12-slider-slide-content
          .c-block-type12-slider-slide-title SAP Forum в Минске
          .c-block-type12-slider-slide-text Приглашаем вас на крупнейшее бизнес-событие года в Белоруссии — SAP Forum.