section.c-block-type2.c-block-type2-padding(id='for')
  .container
    .c-block-type2-left
      h2.c-block-type2-title SAP Business One  — это готовый продукт, который быстро внедряется за счет преднастроенных бизнес процессов
    .c-block-type2-right
      .c-block-type2-items
        .c-block-type2-item
          .c-block-type2-item-left
            .c-block-type2-item-ico
              i.c-ico.c-ico-chart1
          .c-block-type2-item-right
            .c-block-type2-item-title Всесторонний 
              br
              | учет
        .c-block-type2-item
          .c-block-type2-item-left
            .c-block-type2-item-ico
              i.c-ico.c-ico-chart2
          .c-block-type2-item-right
            .c-block-type2-item-title Управление 
              br
              | по KPI
        .c-block-type2-item
          .c-block-type2-item-left
            .c-block-type2-item-ico
              i.c-ico.c-ico-handclick
          .c-block-type2-item-right
            .c-block-type2-item-title Автоматизация 
              br
              | процессов
        .c-block-type2-item
          .c-block-type2-item-left
            .c-block-type2-item-ico
              i.c-ico.c-ico-chart3
          .c-block-type2-item-right
            .c-block-type2-item-title Мощная 
              br
              | аналитика