section.c-block-type11.c-block-type11-padding(id='benefits')
  .container
    h2.c-main-title.c-main-title_dark.c-main-title_centred Преимущества решения
    .c-block-type11-items
      .c-block-type11-item
        .c-block-type11-item-ico
          .c-ico.c-ico-monitor
        .c-block-type11-item-title Готовый к использованию продукт
        .c-block-type11-item-text Все важные функции для ведения бизнеса уже внутри, требуется всего лишь настройка необходимого функционала
      .c-block-type11-item
        .c-block-type11-item-ico
          .c-ico.c-ico-integration
        .c-block-type11-item-title Простая интеграция с другими системами
        .c-block-type11-item-text Создавайте единое информационное пространство, объединяя сотрудников, решения, подразделения.
      .c-block-type11-item
        .c-block-type11-item-ico
          .c-ico.c-ico-scissors
        .c-block-type11-item-title Низкая стоимость владения
        .c-block-type11-item-text Проста в обслуживании и обновлениях. Суммарная стоимость владения в перспективе на 2-3 года ниже, чем у конкурентов.
      .c-block-type11-item
        .c-block-type11-item-ico
          .c-ico.c-ico-gears
        .c-block-type11-item-title Быстрый старт
        .c-block-type11-item-text Установка и настройка системы 
          br
          | от 1 месяца* (*базовый функционал)
      .c-block-type11-item
        .c-block-type11-item-ico
          .c-ico.c-ico-custom
        .c-block-type11-item-title Простая кастомизация
        .c-block-type11-item-text Меняйте и добавляйте пользовательские поля одним кликом, без программирования
      .c-block-type11-item
        .c-block-type11-item-ico
          .c-ico.c-ico-globe
        .c-block-type11-item-title Международное использование
        .c-block-type11-item-text Используйте единое решение для филиалов по всему миру