section.c-block-type9.c-block-type9-padding
  .container
    h2.c-block-type9-title Клиенты Business One в России и мире
    .c-block-type9-slider.js-slider5
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client1.png', alt='alt')
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client2.png', alt='alt')
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client3.png', alt='alt')
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client4.png', alt='alt')
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client5.png', alt='alt')
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client6.png', alt='alt')
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client7.png', alt='alt')
      .c-block-type9-slider-slide
        img(src='img/elements/block9/client8.jpg', alt='alt')