mixin hero()
  section.hero
    .hero__lines
    .container
      .hero__content
        .hero__lines.hero__lines--mini
        h1.hero__title Лучшие практики SAP доступны 
          br
          | для малого и среднего бизнеса 
          br
          | в ERP-решении 
          span SAP Business One
        .hero-price
          span.hero-price__text от 
          span.hero-price__number 2 287 
          span.hero-price__rub ₽ 
          span.hero__text за 1 пользователя в месяц