meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
meta(name='description' content='SAP Business One — ERP-система для комплексного управления предприятием, автоматизации бизнес-процессов и управленческого учета')
meta(name='keywords' content='SAP Business One B1 ERP ERP-система система управления предприятием система управления бизнесом управление компанией автоматизация бизнес-процессов автоматизация бизнеса управленческий учет бухгалтерский учет учет по МСФО USGAAP аналитика бизнеса бизнес-аналитика')