.c-footer
  overflow: hidden
  background-color: #000
  background-repeat: no-repeat
  background-image: url(../img/partials/footer/bg.png)
  background-position: 100% calc(100% - 101px)
  min-height: 964px
  +bp(1800)
    background-size: 60%
    background-position: 100% calc(100% - 60px)
    min-height: 0
  +bp($md)
    background-image: none
  .c-agreement-before-text
    color: #fff
  .c-agreement-text
    color: #fff
    a
      +link(10px, #fff)
  input[type=checkbox]:not(checked)+label:before
    border-color: #fff

.c-footer-padding
  padding: 10px 0 101px
  +bp($xl)
    padding: 10px 0 80px
  +bp($md)
    padding: 40px 0

.c-footer-title
  color: $accent
  font-family: $font-book
  font-size: 46px
  line-height: (58/46)
  margin-bottom: 40px
  +bp($md)
    font-size: 30px
    margin-bottom: 30px

.c-footer-content
  display: flex
  margin-bottom: 120px
  +bp($xl)
    flex-direction: column
  +bp($md)
    margin-bottom: 80px 

.c-footer-content-left,
.c-footer-content-right
  +fxw(50%)
  +bp($xl)
    +fxw(100%)

.c-footer-content-left
  +bp($xl)
    margin-bottom: 50px

.c-footer-content-right
  padding-left: 105px
  +bp($xl)
    padding-left: 0

.c-footer-content-form-wrap
  .c-form-items
    display: flex
    flex-wrap: wrap
    margin-left: -20px
    margin-right: -20px
    .c-form-item-wrap
      +fxw(270px)
      margin: 0 20px 30px
      +bp($xl)
        +fxw(calc(50% - 40px))
      +bp($sm)
        +fxw(100%)
  .c-form-item-title
    color: #fff
    font-size: 14px
    line-height: (22/14)
    margin-bottom: 7px
    opacity: 0.7
  > form
    input
      padding-top: 16px
      padding-bottom: 15px
    .c-form-item-wrap
      margin-bottom: 35px
      .c-form-error-message
        left: 20px
    span
      color: #fff
  .c-btn
    min-width: 220px
    padding: 23px

.c-footer-content-contacts-item
  margin-bottom: 40px
  +bp($md)
    margin-bottom: 30px
  &:last-child
    margin-bottom: 0

.c-footer-content-contacts-item-title
  color: #fff
  font-size: 14px
  line-height: (22/14)
  opacity: 0.7
  margin-bottom: 5px

.c-footer-content-contacts-item-phone
  +link(40px, $accent)
  line-height: 1
  +bp($md)
    font-size: 26px

.c-footer-content-contacts-item-text
  font-size: 20px
  line-height: (30/20)
  color: #fff
  font-family: $font-book
  +bp($md)
    font-size: 16px
    
.c-footer-privacy
  +link(14px, #fff)
  +dt(0.3s)
  text-decoration: underline
  &:hover
    text-decoration: none