.c-header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 100
  padding: 16px 0
  
  +bp($sm)
    background-color: #000
  
  &.sticky
    position: fixed
    left: 0
    width: 100%
    opacity: 0
    +dt(0.3s)
    background-color: #000
    padding: 15px 0
    
    &.show
      opacity: 1
  
  .container
    display: flex
    align-items: center
    justify-content: space-between

.c-header-logo
  margin-right: 50px
  max-width: 121px
  
  +bp($sm)
    max-width: 93px