footer.c-footer.c-footer-padding(id='contacts')
  .container
    h2.c-footer-title Скачайте брошюру
    .c-footer-content
      .c-footer-content-left
        .c-footer-content-form-wrap
          form(enctype='multipart/form-data', data-form-id='5')
            .c-form-items
              .c-form-item-wrap
                .c-form-item-title Ваше имя
                .c-form-item
                  +input('text', 'name', null, null, 'true', 'c-input-type2')
              .c-form-item-wrap
                .c-form-item-title E-mail
                .c-form-item
                  +input('text', 'email', null, null, 'true', 'c-input-type2')
              .c-form-item-wrap
                .c-form-item-title Телефон
                .c-form-item
                  +input('tel', 'phone', null, null, 'true', 'c-input-type2 js-phoneMask')
              .c-form-item-wrap
                .c-form-item-title Компания
                .c-form-item
                  +input('text', 'company', null, null, 'true', 'c-input-type2')
            .c-form-item-wrap
              .c-form-item-title Комментарий
              .c-form-item
                +textarea('text', 'Опишите кратко свои процессы и мы покажем весь комплекс \nнаших решений конкретно для вашего случая', null)
            +input-hidden('form_name', 'Оставить заявку. Форма в подвале', null)
            +agreement()
            button(type='submit', disabled).c-btn.c-btn-default Отправить
      .c-footer-content-right
        //-.c-footer-content-contacts-item
        //-  .c-footer-content-contacts-item-title Позвоните
        //-  a(href='tel:+78002000128').c-footer-content-contacts-item-phone +7 800 200-01-28
        .c-footer-content-contacts-item
          .c-footer-content-contacts-item-title Адрес
          .c-footer-content-contacts-item-text Москва, Космодамианская наб., 52/7
    a(href='#popup-privacy').c-footer-privacy.js-popup Положение о конфиденциальности SAP