button.mfp-close,
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close
  width: 60px
  height: 60px
  line-height: 1
  font-size: 0
  color: transparent
  display: inline-block
  background-color: $accent
  background-repeat: no-repeat
  background-position: 50%
  background-image: url(../img/icons/ico-close.png)
  opacity: 1
  cursor: pointer !important
  +dt(0.3s)
  &:active
    top: 0
  &:hover
    opacity: 0.7

.mfp-iframe-holder .mfp-close
  top: 0
  right: 0
  left: 100%

.mfp-image-holder .mfp-close
  top: 40px
  right: 0
  left: 100%
  &:active
    top: 40px

.mfp-iframe-holder
  padding-right: 68px
  +bp(900)
    padding-right: 66px

.mfp-gallery
  .mfp-container
    padding-right: 68px
    +bp(900)
      padding-right: 66px
  img.mfp-img
    padding-bottom: 120px
  .mfp-bottom-bar
    margin-top: -116px
  .mfp-figure:after
    bottom: 120px

button.mfp-arrow
  width: 80px
  height: 80px
  position: absolute
  bottom: 0
  top: auto
  z-index: 10001
  border: none
  background-color: $accent
  background-repeat: no-repeat
  background-position: 50%
  font-size: 0
  color: transparent
  cursor: pointer
  opacity: 1
  +dt(0.3s)
  &:before,
  &:after
    display: none
  &:hover
    opacity: 0.7

button.mfp-arrow-left
  left: 50%
  transform: translate3d(calc(-100% - 2px), 0, 0)
  background-image: url(../img/icons/arrow-left.png)

button.mfp-arrow-right
  right: 50%
  transform: translate3d(calc(100% + 2px), 0, 0)
  background-image: url(../img/icons/arrow-right.png)

.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.3s ease-in-out

.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.2s ease

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0

.mfp-title
  color: #ccc
  font-size: 16px
  line-height: (18/16)
  margin-top: 7px