.select2-container
  width: 100% !important
  .select2-selection--single
    height: auto
    border-color: $default-input-border-color
    .select2-selection__rendered
      padding: 17px 25px 16px 10px
      font-size: $default-input-font-size
      line-height: 1
    .select2-selection__placeholder
      color: $default-placeholder-color

.select2-container--default
  .select2-selection--single
    border-radius: 0
    .select2-selection__arrow
      width: auto
      height: 100%
      b
        margin: 0 10px 0 0
        left: auto
        right: 0
        transform: translateY(-50%)

.select2-results__option
  font-size: $default-input-font-size
  padding: 12px 10px