.slick-dots
  list-style-type: none
  padding: 0
  text-align: center
  margin-left: -12px
  margin-right: -12px
  li
    display: inline-block
    margin: 0 12px
    &.slick-active
      button
        background-color: $accent
        &:hover
          opacity: 1
  button
    font-size: 0
    color: transparent
    border-radius: 50%
    padding: 0
    width: 12px
    height: 12px
    border: 2px solid $accent
    background: none
    background-color: transparent
    cursor: pointer
    +dt(0.3s)
    &:hover
      opacity: 0.7

.slick-arrow
  width: 80px
  height: 80px
  position: absolute
  top: 50%
  z-index: 10
  transform: translate3d(0, -50%, 0)
  border: none
  background-color: $accent
  background-repeat: no-repeat
  background-position: 50%
  font-size: 0
  color: transparent
  cursor: pointer
  +dt(0.3s)
  &:hover
    opacity: 0.7

.slick-prev
  left: 0
  background-image: url(../img/icons/arrow-left.png)

.slick-next
  right: 0
  background-image: url(../img/icons/arrow-right.png)