.c-popup-nav
  max-width: 100%
  height: 100%
  .c-popup-default-inner
    min-height: calc(100vh - 16px)
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    padding: 80px 30px 30px
  .c-btn-callback
    min-width: 215px
    +link(14px, $default-color)
    border-color: $default-color

nav.c-popup-nav
  margin-bottom: 30px

.c-popup-nav-item
  margin-bottom: 15px

.c-popup-nav-item-link
  +link(16px, $default-color)
  font-family: $font-black
  text-transform: uppercase
  &.active
    color: $accent