.c-popup-default
  position: relative
  max-width: 490px
  width: 100%
  margin: 0 auto
  
  &.c-popup-wide
    max-width: 1160px
    
    .c-main-title
      margin-right: 30px
      
      +bp($md)
        font-size: 24px
        margin-right: 0
        margin-bottom: 30px
    
    .c-block-type8-slider .slick-next
      right: 0
    
    .c-popup-default-inner
      padding: 30px
      margin: 8px 0
      
      +bp(900)
        margin: 6px 0
      
      +bp($md)
        padding: 70px 15px 30px
    
    .c-block-type3-slider-nav
      margin-bottom: 0
    
    .container
      padding: 0
    
    .interface
      padding: 0
  
  .c-form-items
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px
  
  .c-form-item
    +fxw(calc(50% - 30px))
    margin: 0 15px 30px

.c-popup-default-inner
  background-color: #fff
  padding: 60px 60px 75px
  position: relative
  
  +bp($sm)
    padding: 80px 20px 20px
  
  .c-form-items
    margin-bottom: 10px
    
    +bp($sm)
      flex-direction: column
      margin-left: -0px
      margin-right: 0
  
  .c-form-item
    
    +bp($sm)
      margin-left: 0
      margin-right: 0
      +fxw(100%)
  
  .c-agreement
    margin-bottom: 35px
  
  .c-btn
    width: 100%
    padding-top: 23px
    padding-bottom: 23px

.c-popup-default-title
  font-size: 16px
  line-height: (28/16)
  color: $default-color
  font-family: $font-black
  margin-bottom: 43px
  
  +bp($sm)
    margin-bottom: 20px