.c-popup-privacy
  max-width: 1000px
  .c-popup-default-inner
    padding-top: 70px
    padding-bottom: 20px
  .c-popup-default-title
    font-size: 20px
    text-align: center
    line-height: 1.3
  .agreement-modal-item
    margin-bottom: 40px
  .agreement-modal-title
    font-family: $font-bold
    font-size: 18px
    color: $default-color
    margin-bottom: 10px
  p
    font-size: 14px
    line-height: 1.6
    margin-bottom: 12px