.c-block-type11
  overflow: hidden
  .c-main-title
    font-size: 46px
    font-family: $font-black
    margin-bottom: 59px
    +bp($md)
      font-size: 30px

.c-block-type11-padding
  padding: 114px 0 25px
  +bp($md)
    padding: 50px 0 20px

.c-block-type11-items
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin-left: -20px
  margin-right: -20px

.c-block-type11-item
  +fxw(360px)
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 60px

.c-block-type11-item-ico
  margin-bottom: 7px

.c-block-type11-item-title
  font-family: $font-black
  font-size: 20px
  line-height: (26/20)
  color: $default-color
  margin-bottom: 6px

.c-block-type11-item-text
  font-size: 16px
  line-height: (26/16)
  color: $default-color
  padding-right: 15px