.c-block-type10
  background-color: #000
  .c-main-title
    font-family: $font-black
    margin-bottom: 25px

.c-block-type10-padding
  padding: 114px 0 94px
  +bp($md)
    padding: 60px 0 20px

.c-block-type10-descr
  color: #fff
  font-size: 20px
  line-height: (30/20)
  margin-bottom: 85px
  +bp($md)
    margin-bottom: 50px

.c-block-type10-content
  display: flex
  +bp($lg)
    flex-direction: column

.c-block-type10-content-left,
.c-block-type10-content-right
  +fxw(50%)
  +bp($lg)
    +fxw(100%)

.c-block-type10-content-item
  max-width: 455px
  padding: 0 0 0 55px
  margin-bottom: 40px

.c-block-type10-content-item-title
  font-size: 16px
  line-height: (26/16)
  color: #fff
  position: relative
  margin-bottom: 25px
  &:before
    content: ''
    display: block
    width: 30px
    height: 30px
    background-position: 50%
    background-repeat: no-repeat
    background-image: url(../img/icons/ico-checked.png)
    position: absolute
    right: calc(100% + 24px)
    top: 0

.c-block-type10-content-item-price
  margin-bottom: 30px

.c-block-type10-content-item-price-text
  color: $accent
  font-size: 16px
  line-height: (26/16)
  margin-bottom: 5px
  span
    font-family: $font-black
    font-size: 60px
    line-height: 1
    padding: 0 4px
    +bp($sm)
      font-size: 40px

.c-block-type10-content-item-text
  font-size: 16px
  line-height: (26/16)
  color: #fff
  a
    +link(16px, $accent)
    text-decoration: underline