.c-block-type9
  overflow: hidden

.c-block-type9-padding
  padding: 60px 0 120px
  +bp($md)
    padding: 40px 0

.c-block-type9-title
  color: $default-color
  font-size: 20px
  line-height: 1.3
  font-family: $font-black
  margin-bottom: 38px

.c-block-type9-slider
  margin-left: -38px
  margin-right: -60px
  max-width: 1160px
  position: relative
  +bp(1300)
    max-width: 1160px
    margin-right: 60px
  &:after
    content: ''
    display: block
    width: 1px
    height: 100%
    position: absolute
    top: 0
    right: 0
    background-color: #fff
    z-index: 1
  .slick-arrow
    border: 1px solid rgb(230, 230, 230)
    border-radius: 50%
    background-color: transparent
    width: 38px
    height: 38px
    &:hover
      background-color: $accent
      border-color: $accent
  .slick-prev
    left: calc(100% + 60px)
    top: calc(50% + 29px)
    background-image: url(../img/icons/arrow2-left.png)
    +bp(1300)
      left: calc(100% + 20px)
    &:hover
      background-image: url(../img/icons/arrow2-left-a.png)
  .slick-next
    right: auto
    left: calc(100% + 60px)
    top: calc(50% - 29px)
    background-image: url(../img/icons/arrow2-right.png)
    +bp(1300)
      left: calc(100% + 20px)
    &:hover
      background-image: url(../img/icons/arrow2-right-a.png)

.c-block-type9-slider-slide
  min-height: 130px
  display: flex !important
  align-items: center
  justify-content: center
  border-right: 1px solid #dbdfe2
  padding: 0 14px
  +bp(450)
    border: none
    padding: 0