.c-block-type3
  overflow: hidden

.c-block-type3-padding
  padding: 120px 0 0
  +bp($md)
    padding: 0

.c-main-title
  margin-bottom: 20px

.c-block-type3-content
  display: flex
  align-items: flex-start
  
  +bp($md)
    flex-direction: column
    justify-content: flex-start

.c-block-type3-content-left
  +fxw(900px)
  margin-right: 20px
  overflow: hidden
  
  +bp($md)
    +fxw(100%)
    margin-right: 0
    margin-bottom: 10px

.c-block-type3-content-right
  +fxw(150px)
  flex-shrink: 0
  
  +bp($md)
    +fxw(100%)

.c-block-type3-slider-slide-content
  position: relative
  height: 530px
  
  +bp($md)
    height: 300px

.c-block-type3-slider-slide-content-play
  width: 64px
  height: 64px
  border-radius: 50%
  background-color: $accent
  background-repeat: no-repeat
  background-position: 50%
  background-image: url(../img/icons/ico-play.png)
  position: absolute
  top: 50%
  left: 50%
  transform: translate3d(-50%, -50%, 0)
  +dt(0.3s)
  
  &:hover
    opacity: 0.7

.c-block-type3-slider-nav
  
  .slick-slide
    margin-bottom: 15px
    
    +bp($md)
      width: calc(100% / 3 - 20px) !important
      margin: 0 10px
  
  .slick-slide.slick-current
    
    .c-block-type3-slider-nav-slide-img
      
      &:after
        border: 5px solid $accent
    
    .c-block-type3-slider-nav-slide
      
      &:hover
        
        .c-block-type3-slider-nav-slide-img
          
          &:before
            opacity: 0

.c-block-type3-slider-nav-slide
  cursor: pointer
  text-align: center
  
  &:hover
    
    .c-block-type3-slider-nav-slide-img
      
      &:before
        opacity: 0.5

.c-block-type3-slider-nav-slide-img
  height: 80px
  position: relative
  background-color: $accent
  background-position: 50%
  background-size: cover
  overflow: hidden
  margin-bottom: 13px
  
  +bp($md)
    height: 70px
    margin-bottom: 0
  
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $accent
    opacity: 0
    +dt(0.3s)
  
  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 110px solid transparent
    +dt(0.3s)

.c-block-type3-slider-nav-slide-title
  font-size: 14px
  color: $default-color
  line-height: 1.3
  
  +bp($md)
    display: none