.c-block-type8
  overflow: hidden
  .c-main-title
    margin-bottom: 30px

.c-block-type8-padding
  padding: 60px 0 54px
  +bp($md)
    padding: 40px 0

.c-block-type8-slider
  .slick-arrow
    top: auto
    transform: none
    bottom: 0
  .slick-prev
    display: none !important
  .slick-next
    right: -60px
    bottom: 60px
    +bp(1300)
      right: 0
    +bp($sm)
      display: none !important
  .slick-dots
    text-align: left
    margin-top: 28px
    margin-bottom: 0
    +bp($sm)
      margin-left: -5px
    li
      +bp($sm)
        margin: 0 5px

.c-block-type8-slider-slide
  display: flex !important
  +bp($xl)
    flex-direction: column

.c-block-type8-slider-slide-left,
.c-block-type8-slider-slide-right
  +fxw(50%)
  +bp($xl)
    +fxw(100%)

.c-block-type8-slider-slide-left
  border-right: 1px solid #e6e6e6
  padding-right: 40px
  +bp($xl)
    border: none
    padding-right: 0

.c-block-type8-slider-slide-right
  padding: 35px 35px 30px 85px
  +bp($xl)
    padding: 0 0 30px 38px

.c-block-type8-slider-slide-item
  margin-bottom: 34px

.c-block-type8-slider-slide-item-title
  font-size: 26px
  line-height: (36/26)
  color: $accent
  font-family: $font-black

.c-block-type8-slider-slide-item-text
  font-size: 16px
  line-height: (26/16)
  color: $default-color

.c-block-type8-slider-slide-item-badge
  background-color: $accent
  font-size: 12px
  line-height: 1
  letter-spacing: 1.2px
  text-transform: uppercase
  color: $default-color
  font-family: $font-black
  display: inline-block
  padding: 8px 10px 7px
  margin-bottom: 10px

.c-block-type8-slider-slide-item-list-item
  font-size: 16px
  line-height: (26/16)
  color: $default-color
  margin-bottom: 10px
  padding-right: 30px
  display: flex
  +bp($xl)
    padding-right: 0
  &:before
    content: ''
    display: block
    width: 30px
    height: 2px
    background-color: $accent
    margin-top: 10px
    margin-right: 20px
    flex-shrink: 0

.c-block-type8-slider-slide-quote-text
  font-size: 18px
  line-height: (30/20)
  color: $default-color
  font-family: $font-book
  position: relative
  margin-bottom: 15px
  +bp($sm)
    font-size: 16px
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    right: calc(100% + 18px)
    width: 20px
    height: 14px
    background-repeat: no-repeat
    background-position: 50%
    background-image: url(../img/elements/block8/quote.png)

.c-block-type8-slider-slide-quote-author
  margin-bottom: 25px

.c-block-type8-slider-slide-quote-author-title
  font-size: 16px
  line-height: (26/16)
  color: $default-color
  font-family: $font-black

.c-block-type8-slider-slide-quote-author-descr
  font-size: 16px
  line-height: (26/16)
  color: $default-color