.c-block-type6
  background-color: #000
  background-image: url(../img/elements/block6/bg.png)
  background-position: 100% 50%
  background-repeat: no-repeat
  +bp(1250)
    background-image: none
  .container
    display: flex
    justify-content: space-between
    +bp($xl)
      flex-direction: column
  .c-main-title
    margin-bottom: 30px

.c-block-type6-padding
  padding: 82px 0 85px
  +bp($md)
    padding: 40px 0 15px

.c-block-type6-left
  +fxw(50%)
  padding-top: 41px
  margin-right: 30px
  +bp($xl)
    margin-right: 0
    margin-bottom: 30px
    +fxw(100%)
    padding-top: 0
    br
      display: none

.c-block-type6-right
  +fxw(490px)
  margin-right: -60px
  +bp(1400)
    margin-right: 0
  +bp($xl)
    +fxw(100%)

.c-block-type6-text
  font-size: 20px
  line-height: (26/20)
  color: #fff
  margin-bottom: 30px
  +bp($xl)
    margin-bottom: 50px

.c-block-type6-list
  display: flex
  flex-wrap: wrap

.c-block-type6-list-item
  +fxw(50%)
  font-size: 16px
  line-height: (21/16)
  color: #fff
  margin-bottom: 23px
  padding-right: 30px
  display: flex
  +bp($sm)
    +fxw(100%)
  &:before
    content: ''
    display: block
    width: 30px
    height: 2px
    background-color: $accent
    margin-top: 10px
    margin-right: 20px
    flex-shrink: 0

.c-block-type6-form-wrap
  padding: 65px 60px 72px
  background-color: #fff
  overflow: hidden
  +bp($sm)
    padding: 40px 20px 30px
  .c-form-items
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px
    margin-bottom: -18px
    +bp($sm)
      margin-bottom: 15px
  .c-form-item
    +fxw(calc(50% - 30px))
    margin: 0 15px 53px
    +bp($sm)
      +fxw(100%)
      margin-bottom: 40px
    .c-input-with-label
      label
        transform: translate3d(0, calc(-50% - 2px), 0)
  .c-btn
    width: 100%
    +bp($xl)
      width: auto
  .c-btn
    padding-top: 23px
    padding-bottom: 23px

.c-block-type6-form-title
  font-size: 16px
  line-height: 1.3
  font-family: $font-black
  margin-bottom: 47px
  color: $default-color
  +bp($sm)
    margin-bottom: 30px