.c-block-type12
  overflow: hidden
  .c-main-title
    font-family: $font-black
    margin-bottom: 46px

.c-block-type12-padding
  padding: 30px 0 120px
  +bp($md)
    padding: 20px 0 60px

.c-block-type12-slider-nav
  position: relative
  margin-bottom: 30px
  &:before
    content: ''
    display: block
    width: 10000%
    height: 1px
    background-color: #dbdbdb
    top: 35px
    left: -100%
    position: absolute
  .slick-slide.slick-current
    .c-block-type12-slider-nav-slide-title,
    .c-block-type12-slider-nav-slide-text
      color: $default-color

.c-block-type12-slider-nav-slide
  text-align: center
  background-color: #fff
  cursor: pointer
  &:hover
    .c-block-type12-slider-nav-slide-title,
    .c-block-type12-slider-nav-slide-text
      color: $accent

.c-block-type12-slider-nav-slide-title
  font-size: 46px
  color: #ccc
  font-family: $font-book
  +dt(0.3s)
  position: relative
  &:before,
  &:after
    content: ''
    display: block
    width: 40px
    height: 1px
    background-color: #dbdbdb
    position: absolute
    top: 50%
  &:before
    left: 0
  &:after
    right: 0
  +bp($sm)
    font-size: 36px

.c-block-type12-slider-nav-slide-text
  font-size: 12px
  line-height: 1.3
  color: $default-color
  +dt(0.3s)

.c-block-type12-slider-slide
  text-align: center

.c-block-type12-slider-slide-content
  max-width: 520px
  margin: 0 auto

.c-block-type12-slider-slide-title
  font-size: 20px
  line-height: (30/20)
  color: $default-color
  font-family: $font-black
  margin-bottom: 8px
  &:before
    content: ''
    display: block
    width: 100px
    height: 2px
    background-color: $accent
    margin: 0 auto 25px

.c-block-type12-slider-slide-text
  font-size: 20px
  line-height: (30/20)
  color: $default-color
  +bp($md)
    font-size: 18px