.c-block-type5
  background-color: #000
  overflow: hidden
  .c-main-title
    margin-bottom: 66px
    +bp($md)
      margin-bottom: 30px

.c-block-type5-content
  position: relative
  &:after
    content: ''
    display: block
    width: calc(100% + 120px)
    height: 1px
    background-color: $accent
    position: absolute
    bottom: 0
    left: -60px
    right: -60px

.c-block-type5-padding
  padding: 110px 0 80px
  +bp($md)
    padding: 60px 0 80px

.c-block-type5-slider
  max-width: 1160px
  position: relative
  margin-left: -60px
  margin-right: -60px
  +bp(1300)
    margin-right: -15px
  &:after
    content: ''
    display: block
    width: 1px
    height: 100%
    position: absolute
    top: 0
    right: 0
    background-color: #000
    z-index: 1
  .slick-prev
    display: none !important
  .slick-next
    right: -120px
    +bp(1300)
      right: 0
    +bp($md)
      top: calc(100% + 40px)

.c-block-type5-slider-slide
  min-height: 180px
  border-right: 1px solid rgba(255, 255, 255, 0.2)
  padding: 34px 60px 30px
  display: flex !important
  align-items: center
  +bp($md)
    border: none

.c-block-type5-slider-slide-title
  color: $accent
  font-size: 50px
  line-height: 1
  margin-bottom: 15px

.c-block-type5-slider-slide-text
  color: #fff
  font-size: 16px
  line-height: (21/16)