.c-block-type2
  min-height: 415px
  background-color: #000
  background-image: url(../img/elements/block2/bg.png)
  background-repeat: no-repeat
  background-position: 0 50%
  +bp(1850)
    background-position: -100px 50%
  +bp(1650)
    background-position: -200px 50%
  +bp(1450)
    background-image: none
  .container
    display: flex
    +bp($lg)
      flex-direction: column

.c-block-type2-padding
  padding: 131px 0 40px
  +bp($md)
    padding: 100px 0 20px

.c-block-type2-left,
.c-block-type2-right
  +fxw(50%)
  +bp($lg)
    +fxw(100%)

.c-block-type2-left
  padding-right: 40px
  +bp($lg)
    padding-right: 0
    margin-bottom: 40px

.c-block-type2-right
  padding-top: 5px

.c-block-type2-title
  color: #fff
  font-size: 30px
  line-height: (42/30)
  font-family: $font-book
  +bp($md)
    font-size: 22px

.c-block-type2-items
  display: flex
  flex-wrap: wrap
  +bp($sm)
    flex-direction: column

.c-block-type2-item
  display: flex
  +fxw(50%)
  align-items: center
  margin-bottom: 30px
  +bp($sm)
    +fxw(100%)

.c-block-type2-item-ico
  +fxw(70px)
  min-width: 70px
  margin-right: 20px
  display: flex
  justify-content: center

.c-block-type2-item-title
  font-size: 16px
  line-height: (26/16)
  color: #fff