.c-block-type7
  +bp(1300)
    overflow: hidden
  .c-main-title
    margin-bottom: 60px
    +bp($md)
      margin-bottom: 30px

.c-block-type7-padding
  padding: 115px 0 0
  +bp($md)
    padding: 40px 0 20px

.c-block-type7-content
  position: relative
  padding-bottom: 12px
  &:before
    content: ''
    display: block
    width: calc(100% + 120px)
    height: 1px
    background-color: #f0f0f0
    position: absolute
    bottom: 0
    left: -60px
    right: -60px
    +bp($xl)
      left: 0
      right: 0
      width: 100%

.c-block-type7-aside
  min-width: 210px
  position: absolute
  top: -10px
  right: calc(100% + 106px)
  +bp(1850)
    right: calc(100% + 20px)
  +bp(1650)
    position: static
    margin-bottom: 60px
  +bp($md)
    margin-bottom: 40px

.c-block-type7-aside-title
  color: $accent
  font-size: 90px
  line-height: 1
  margin-bottom: 2px
  span
    font-size: 40px

.c-block-type7-aside-text
  font-size: 16px
  line-height: (26/16)
  color: $default-color

.c-block-type7-items
  display: flex
  flex-wrap: wrap

.c-block-type7-item
  +fxw(50%)
  margin-bottom: 40px
  padding-right: 30px
  +bp($lg)
    +fxw(100%)
    padding-right: 0

.c-block-type7-item-topline
  position: relative
  width: 40px
  height: 20px
  margin-left: 80px
  background-color: $accent
  margin-bottom: 12px
  &:before,
  &:after
    content: ''
    display: block
    width: 40px
    height: 100%
    background-color: $accent
    position: absolute
    top: 0
    z-index: 1
  &:before
    opacity: 0.4
    left: -80px
  &:after
    opacity: 0.7
    left: -40px

.c-block-type7-item-title
  font-size: 26px
  line-height: (40/26)
  color: $default-color
  font-family: $font-book
  margin-bottom: 17px
  +bp($lg)
    br
      display: none
  +bp($sm)
    font-size: 24px

.c-block-type7-item-list-item
  font-size: 16px
  line-height: (26/16)
  color: $default-color
  margin-bottom: 12px
  padding-right: 30px
  display: flex
  &:before
    content: ''
    display: block
    width: 30px
    height: 2px
    background-color: $accent
    margin-top: 10px
    margin-right: 20px
    flex-shrink: 0