.c-block-type4
  .c-main-title
    margin-bottom: 65px

.c-block-type4-padding
  padding: 99px 0 128px
  +bp($md)
    padding: 50px 0 20px

.c-block-type4-slider-nav
  margin-bottom: 56px
  +bp($md)
    margin-bottom: 30px
  .slick-slide.slick-current
    .c-block-type4-slider-nav-slide
      &:hover
        opacity: 1
    .c-block-type4-slider-nav-slide-number
      background-color: $accent
    .c-block-type4-slider-nav-slide-title
      color: $accent
      font-family: $font-black

.c-block-type4-slider-nav-slide
  width: 166px
  padding-right: 15px
  cursor: pointer
  +dt(0.3s)
  &:hover
    opacity: 0.7

.c-block-type4-slider-nav-slide-number
  min-width: 40px
  height: 40px
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 5px
  background-color: #ccc
  font-size: 14px
  line-height: 1
  color: $default-color
  font-family: $font-black
  margin-bottom: 10px
  +dt(0.3s)

.c-block-type4-slider-nav-slide-title
  font-size: 15px
  line-height: (18/15)
  color: $default-color
  +dt(0.3s)
  +bp($sm)
    font-size: 13px

.c-block-type4-slider-slide
  display: flex !important
  +bp($xl)
    flex-wrap: wrap

.c-block-type4-slider-slide-left
  +fxw(365px)
  margin-right: 92px
  +bp($xl)
    margin-right: 0
    margin-bottom: 20px
    +fxw(100%)

.c-block-type4-slider-slide-middle
  +fxw(321px)
  padding-top: 8px
  margin-right: 39px
  +bp($xl)
    +fxw(50%)
  +bp($md)
    +fxw(100%)
    margin-right: 0

.c-block-type4-slider-slide-right
  flex-shrink: 0
  padding-top: 8px
  +bp($md)
    flex-shrink: 1

.c-block-type4-slider-slide-title
  color: $accent
  font-family: $font-black
  font-size: 26px
  line-height: (40/26)
  margin-bottom: 11px

.c-block-type4-slider-slide-text
  font-size: 14px
  line-height: (26/14)
  color: $default-color

.c-block-type4-slider-slide-badge
  background-color: $accent
  font-size: 12px
  line-height: 1
  text-transform: uppercase
  color: $default-color
  font-family: $font-black
  display: inline-block
  padding: 8px 14px 7px
  margin-bottom: 22px

.c-block-type4-slider-slide-list-item
  font-size: 14px
  line-height: 1.4
  color: $default-color
  margin-bottom: 13px
  display: flex
  &:before
    content: ''
    display: block
    width: 30px
    height: 2px
    background-color: $accent
    margin-top: 10px
    margin-right: 20px
    flex-shrink: 0

.c-block-type4-slider-slide-img-wrap
  max-width: 342px
  text-align: center

.c-block-type4-slider-slide-img
  border: 4px solid #e6e6e6
  margin-bottom: 15px
  cursor: pointer

.c-block-type4-slider-slide-img-link
  +link(14px, $default-color)
  line-height: 1.3
  text-decoration: underline