.c-main-title
  font-size: 40px
  line-height: (44/40)
  font-family: $font-bold
  +bp($md)
    font-size: 30px

.c-main-title
  color: $default-color

.c-main-title_accent
  color: $accent

.c-main-title_centred
  text-align: center

.c-ico-chart1
  width: 51px
  height: 65px
  background-image: url(../img/icons/ico-chart1.png)

.c-ico-chart2
  width: 63px
  height: 46px
  background-image: url(../img/icons/ico-chart2.png)

.c-ico-chart3
  width: 62px
  height: 52px
  background-image: url(../img/icons/ico-chart3.png)

.c-ico-handclick
  width: 70px
  height: 83px
  background-image: url(../img/icons/ico-handclick.png)

.c-ico-monitor
  width: 76px
  height: 69px
  background-image: url(../img/icons/ico-monitor.png)

.c-ico-integration
  width: 77px
  height: 70px
  background-image: url(../img/icons/ico-integration.png)

.c-ico-scissors
  width: 60px
  height: 69px
  background-image: url(../img/icons/ico-scissors.png)

.c-ico-gears
  width: 66px
  height: 69px
  background-image: url(../img/icons/ico-gears.png)

.c-ico-custom
  width: 71px
  height: 70px
  background-image: url(../img/icons/ico-custom.png)

.c-ico-globe
  width: 61px
  height: 74px
  background-image: url(../img/icons/ico-globe.png)

.c-agreement
  margin: 20px 0
  input[type=checkbox]
    + label
      &:not(checked)
        margin-right: 9px
        &:before
          margin-right: 0

.c-agreement-before-text
  font-size: 13px
  line-height: 1.3
  color: #000
  margin-bottom: 6px

.c-agreement-inner
  display: flex
  align-items: flex-start

.c-agreement-text
  font-size: 10px
  line-height: 1.3
  color: #000
  a
    +link(10px, #000)
    text-decoration: underline
    &:hover
      text-decoration: none