.interface
  padding: 95px 0 20px
  
  +bp($md)
    padding: 40px 0
  
  .c-main-title
    margin-bottom: 55px
  
  .slick-arrow
    width: 40px
    height: 40px
    border-radius: 50%
    border: 1px solid transparent
    top: 10px
    
    &:hover
      background-color: #fff
      opacity: 1
      border-color: #e7e7e7
  
  .slick-prev
    background-image: url(../img/elements/interface/arrow-left-a.png)
    left: auto
    right: 50px
    
    &:hover
      background-image: url(../img/elements/interface/arrow-left.png)
  
  .slick-next
    right: 0
    background-image: url(../img/elements/interface/arrow-right-a.png)
    
    &:hover
      background-image: url(../img/elements/interface/arrow-right.png)
  
  .slick-dots
    text-align: left
    margin-left: -5px
    margin-right: -5px
    
    li
      margin: 0 5px

.slider-interface
  
  &__wrap
    position: relative
  
  &__slide
    padding-right: 50px
    
    &--centred
      
      img
        margin: 0 auto
    
    +bp($lg)
      padding-right: 0
  
  &__content
    position: absolute
    top: 73px
    right: 0
    z-index: 100
    background-color: #fff
    max-width: 300px
    padding: 25px 29px
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3)
    
    +bp($lg)
      position: static
      max-width: 100%
      margin-top: 15px
  
  img
    max-width: calc(100% - 120px)
    max-height: 630px
    
    +bp($lg)
      max-width: 100%
      max-height: 400px
      margin: 0 auto
  
  &__text
    font-size: 16px
    color: #000
    font-family: $font-book
    padding-bottom: 21px
    position: relative
    
    +bp($md)
      font-size: 16px
    
    &::after
      content: ''
      display: block
      width: 59px
      height: 1px
      background-color: #efab00
      position: absolute
      top: 100%
      left: 0
    
    span
      font-family: $font-bold
    
    br
      +bp($lg)
        display: none
  
  &__counter
    display: flex
  
  &__current,
  &__all
    font-size: 15px
    line-height: 1
    font-family: $font-black
    color: #000
  
  &__all
    color: #ccc