.demo
  background-color: #000
  min-height: 50vh
  color: #fff
  padding: 20px 0
  display: flex
  align-items: center
  
  +bp(1050)
    padding: 20px 0 0
  
  +bp($lg)
    padding: 40px 0 30px
  
  +bp(600)
    padding: 30px 0
    align-items: flex-start
  
  &__row
    display: flex
    justify-content: space-between
    
    +bp(1050)
      flex-direction: column
  
  &__colomn
    
    &:nth-child(1)
      +fxw(59%)
      
      +bp(1050)
        +fxw(100%)
        margin-bottom: 40px
    
    &:nth-child(2)
      +fxw(41%)
      
      +bp(1050)
        +fxw(100%)
  
  &__title
    font-size: 20px
    line-height: (27/20)
    font-family: $font-bold
    max-width: 425px
    margin-bottom: 27px
    
    +bp(1050)
      max-width: 100%
    
    +bp($sm)
      margin-bottom: 16px
      line-height: (26/20)
  
  &__descr
    font-size: 16px
    line-height: (24/16)
    opacity: 0.8
    max-width: 530px
    margin-bottom: 32px
    
    +bp(1050)
      max-width: 100%
    
    +bp($sm)
      margin-bottom: 60px
  
  &__sap
    margin-bottom: 59px
    
    +bp(1050)
      margin-bottom: 45px
  
  &__items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-left: -8px
    margin-right: -8px
    overflow: hidden

.demo-nav
  padding-top: 9px
  
  +bp(600)
    margin-bottom: 30px
  
  &__list
    display: flex
    
    +bp(600)
      flex-direction: column
      align-items: flex-start
  
  &__item
    margin-right: 40px
    margin-bottom: 30px
    
    +bp(600)
      margin-bottom: 5px
    
    &:first-child
      
      .demo-nav__link
        position: relative
        margin-left: 53px
        
        +bp(600)
          margin-left: 0
        
        &::before
          content: ''
          display: block
          position: absolute
          width: 34px
          height: 34px
          right: calc(100% + 18px)
          top: 0
          margin-top: -9px
          border-radius: 50%
          background-color: #efab00
          background-image: url(../img/elements/demo/ico-play.png)
          background-position: 55% 50%
          background-repeat: no-repeat
          
          +bp(600)
            left: calc(100% + 13px)
    
    &:last-child
      margin-right: 0
  
  &__link
    +link(15px, #efab00)
    font-family: $font-bold
    line-height: 1
    border-bottom: 1px solid rgba(#efab00, 0.5)
    display: inline

.demo-item
  +fxw(189px)
  padding-bottom: 15px
  margin: 0 8px 22px
  position: relative
  
  +bp($lg)
    +fxw(calc(50% - 16px))
  
  &::after
    content: ''
    display: block
    width: calc(100% - 5px)
    height: 1px
    background-color: rgba(255, 255, 255, 0.25)
    position: absolute
    top: 100%
    left: 0
    
    +bp(1050)
      display: none
    
    +bp($lg)
      display: block
  
  &:nth-child(3),
  &:nth-child(4)
    margin-bottom: 0
    padding-bottom: 0
    
    &::after
      display: none
  
  &__title
    font-size: 39px
    line-height: 1
    font-family: $font-book
    margin-bottom: 6px
    
    +bp($md)
      font-size: 30px
    
    +bp($sm)
      margin-bottom: 8px
  
  &__text
    font-size: 14px
    line-height: (20/14)
    color: #fff
    opacity: 0.8
    max-width: 189px