.hero
  background-image: url(../img/elements/block1/bg.jpg)
  background-position: 50%
  background-size: cover
  +overlay(#000, 0.55, 1)
  position: relative
  min-height: 50vh
  display: flex
  align-items: center
  padding: 20px 0
  
  +bp($lg)
    padding: 97px 0 30px
  
  &__content
    color: #fff
    max-width: 605px
    margin: 0 12.7%
    
    +bp($lg)
      margin: 0
  
  &__title
    font-size: 36px
    line-height: (44/36)
    font-family: $font-book
    color: #fff
    margin-bottom: 28px
    
    +bp($md)
      font-size: 26px
      margin-bottom: 19px
      br
        display: none
    
    span
      font-family: $font-bold
  
  &__lines
    position: absolute
    top: 0
    right: 0
    z-index: 2
    width: 8.3333%
    height: 100%
    margin-left: 80px
    background-color: $accent
    margin-bottom: 20px
    
    &:before,
    &:after
      content: ''
      display: block
      width: 100%
      height: 100%
      background-color: $accent
      position: absolute
      top: 0
      z-index: 1
    
    &:before
      opacity: 0.4
      right: 200%
    
    &:after
      opacity: 0.7
      right: 100%
    
    &--mini
      position: relative
      width: 40px
      height: 15px
      margin-left: 80px
      margin-bottom: 33px
      
      +bp($md)
        margin-bottom: 25px
      
      +bp($sm)
        width: 35px
        height: 12px
        margin-left: 70px
  
  &__price
    font-size: 16px
    display: flex
    align-items: flex-end
  
  &-price__text,
  &-price__number,
  &-price__rub
    color: $accent
    line-height: 1
  
  &-price__number
    font-family: $font-bold
    font-size: 44px
  
  &-price__rub
    font-size: 40px
    margin-left: -3px
  
  &__text
    
    +bp($md)
      display: block
      margin-top: 4px